[2017-06-05 23:02] puneetloya commented on #787
am trying to list classic Images not VMs. Another question, these images are actually VHDs. Can we tag VHDs?

[2017-06-08 15:18] sonianand11 opened #792 "Getting error while trying to create VM"
Hi I am trying to create VM and I am getting this error.
[code]
Here is my code :
[code]

What I should do ?

Thank you

[2017-06-27 17:54] akostadinov opened #815 "cannot find a way to delete a VHD"
Hi, creating many temporary VMs. For each VPM a new VHD is created to back its OSDisk. Issue is that when VM is deleted, the VHD remains lingering and when another machine with same name is created, operation fails:
[code]

I see #148 but it looks to me that API changed a lot since and this is not actually existing anymore.

[2017-06-27 21:43] akostadinov commented on #815
The closest I could get you can see below:
[code]

Seems like auth type not acceptable - `Authentication scheme Bearer is not supported`.

[2017-06-29 17:31] sarangan12 opened #817 "Provisioning Status should be considered for long running operations"

[2017-06-29 23:10] salameer opened #818 "Token procurement support"
making the SDK aware of the token procurement functionality needs to be built into the runtime.

[2017-07-05 17:07] vishrutshah opened #826 "Move to swagger-to-sdk version 2.0"
[swagger-to-sdk](https://github.com/lmazuel/swagger-to-sdk) has been released with version 0.2.0 to support upcoming markdown changes.

As per the current plan, on July 10  [azure-rest-api-specs](https://github.com/azure/azure-rest-api-specs) repository would move to new structure. To keep our CI system running we need to move to version 0.2.0.

[2017-07-06 21:51] #817 closed

[2017-07-07 21:20] sarangan12 commented on #535
Moving this to backlog

[2017-07-07 21:20] sarangan12 commented on #551
Moving this to backlog

[2017-07-07 21:20] sarangan12 commented on #588
Moving this to backlog

[2017-07-07 21:21] sarangan12 commented on #597
Moving this to backlog

[2017-07-12 07:33] dixpac opened #837 "What gem to use ?"
Hey 👋

What gem to use for azure storage `azure-sdk-for-ruby(azure_mgmt_storage)` or `azure-storage-ruby`.
What is the difference between these two ?

Thanks

[2017-07-12 21:53] sarangan12 opened #841 "release SDK Version 0.11.0"

[2017-07-12 22:10] salameer opened #842 "Support Azure-Rest-API-Specs repo re-org"

[2017-07-12 22:12] salameer opened #843 "Supporting Resources API's version "2017-05-10""

[2017-07-12 22:19] salameer opened #844 "Add Support for Stream Analytics API version "2016-03-01""

[2017-07-12 22:22] sarangan12 opened #845 "Polling State Serializable"
From: David Justice
Sent: Wednesday, July 12, 2017 11:25 AM
To: Sarangan Rajamanickam <sarajama@microsoft.com>; Veronica Giaudrone <Veronica.Giaudrone@microsoft.com>; Vishrut Shah <vissha@microsoft.com>
Subject: Re: Making LRO Polling state serializable

Ruby folks, any thoughts on making polling state serializable?

Cheers,
David Justice
@davidjustice

On Jul 10, 2017, at 2:49 PM, Anu Thomas Chan

[2017-07-12 22:28] sarangan12 opened #846 "Multi API Version Support - Part I - Generating Module Structure based on the version"
This is Part 1 of 3 Part tasks in getting the Multi API version support in Ruby SDK.

Goal: At the end of this task, autorest will generate the SDK in the structure with version as one of the modules similar to:

module ARM
     module Compute
          module 2017-08-01
                 module models
...........
............

[2017-07-17 00:59] sarangan12 commented on #842
Task Completed

[2017-07-17 00:59] #842 closed

[2017-07-17 02:20] yaxia commented on #837
1. `azure_mgmt_storage` is for storage account management. You can create, delete, list and modify your storage accounts and `azure-storage` is for data (blob/table/queue/file) management under a storage account.
2. Comparing to the [asm](https://github.com/Azure/azure-sdk-for-ruby/tree/asm) branch of `azure-sdk-ruby`, `azure-storage` has more client side improvements and actively maintains the fe

[2017-07-17 13:05] djberg96 opened #849 "get_by_id method?"
Some objects will have references to the ID string of other objects. For example, a network interface object contains an array of IP configuration objects that refer to the ID:

`/subscriptions/xxxx/resourceGroups/my_group/providers/Microsoft.Network/networkInterfaces/some_interface/ipConfigurations/some_config`

Is there a generic method to get an object by an ID string?

[2017-07-17 13:24] djberg96 opened #850 "usgov environment help"
If you're dealing with a US Gov (or Germany, or China) environment, how do you connect? Is there a simple way to set the connection environment?

[2017-07-17 20:24] sarangan12 commented on #844
Task completed. https://github.com/Azure/azure-sdk-for-ruby/pull/833

[2017-07-17 20:24] sarangan12 commented on #844
https://github.com/Azure/azure-sdk-for-ruby/pull/833

[2017-07-17 20:24] #844 closed

[2017-07-17 20:29] sarangan12 commented on #843
Task completed with PR https://github.com/Azure/azure-sdk-for-ruby/pull/848

[2017-07-17 20:29] #843 closed

[2017-07-17 20:35] sarangan12 commented on #826
Task Completed with PR https://github.com/Azure/azure-sdk-for-ruby/pull/848

[2017-07-17 20:35] #826 closed

[2017-07-17 22:41] sarangan12 commented on #845
As discussed in the sprint planning meeting, I have updated the context in this issue. Moving this issue to the backlog to pick up in later sprints.

[2017-07-19 18:19] sarangan12 commented on #841
The SDK has been released. Task completed. Closing the issue

[2017-07-19 18:19] #841 closed

[2017-07-19 22:41] vishrutshah opened #853 "Fix swagger_to_config's "meta" section for the CI"
Following build failures are detected on the CI:
https://travis-ci.org/Azure/azure-rest-api-specs/jobs/255449006
https://travis-ci.org/Azure/azure-rest-api-specs/jobs/255431445

**Reason**:
Incomplete Meta section [here](https://github.com/Azure/azure-sdk-for-ruby/blob/master/swagger_to_sdk_config.json#L2)

Should be corrected as [here](https://github.com/Azure/azure-sdk-for-python/blob/master/swa

[2017-07-21 15:46] #837 closed

[2017-07-28 12:46] stuartpreston commented on #850
@djberg96 Did you get an answer to this? I have some pointers we can share if you are stuck?

[2017-07-28 17:24] djberg96 commented on #850
@stuartpreston No answer yet, help appreciated.

[2017-07-28 20:06] sarangan12 commented on #850
@djberg96 Could you be more specific about the ask? What is the end goal here? In Ruby management SDKs, normally the endpoint is fixed to management.azure.com. Do you want to change these endpoints? Or is the ask something different?

[2017-07-31 12:36] djberg96 commented on #850
@sarangan12 The endpoints are different for different environments, e.g. US Government:

https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-developer-guide

[2017-07-31 13:30] stuartpreston commented on #850
So here's a few snippets for what we do (your Ruby may be better ;))  First of all we need a token to login with, from the correct cloud environment:

[code]

Then for each instance of a client you are creating you'll need the endpoint URL (example for ResourceManagementClient) - note that the management endpoint is passed in as an additional overload:

[code]
[code]

Then you can use your client'

[2017-07-31 13:57] djberg96 commented on #850
@stuartpreston Thanks for this.

It would be nice if that were baked into the API somehow.

[2017-08-09 00:28] veronicagg opened #879 "Multi-api-version support: Update code generation to include api-version in namespaces"
Need to update code generation to take into account API versions in namespaces, and use the fully qualified class names for model creation in generated code.

[2017-08-09 00:29] veronicagg opened #880 "Multi-api-version support: Update directory structure"
Update directory structure for code generation to account for multiple api versions for each service.

[2017-08-09 00:30] veronicagg opened #881 "Multi-api-version support: Update unit test to match code changes"
Update unit tests to match code changes and validate latest versions of the specs.

[2017-08-09 00:33] veronicagg opened #882 "Multi-api-version support: Update documentation and backward compatibility strategy"
Need to write up what the changes for multi-api version support are, so customers consuming current gems have a path to upgrade. This item may be linked to Profile feature.

[2017-08-09 00:33] veronicagg opened #883 "Multi-api-version support: Update readme files for gems and repo"

[2017-08-09 02:39] vishrutshah opened #884 "Enable Managed Service Identity features into ms-rest-azure runtime for azure_mgmt_* sdks"
**Introduction:**

The Managed Service Identity (MSI) scenarios enable an Azure VM to autonomously, using its own managed identity, to directly authenticate and interact with other Azure services using short-lived bearer tokens.  The life cycle of this identity is tied to the overall lifecycle of the VM itself

The Managed Service Identity infrastructure is presently deployed in all public cloud A

[2017-08-09 02:41] vishrutshah opened #885 "Provide customer samples to use managed service identity features"
The sample should target following scenarios:

- [x] create a VM with a system assigned identity
- [x] install the MSI extension on the VM
- [x] assign RBAC permissions to the managed identity
- [x] create another resource (storage account, vnet etc) using the token from the MSI identity

[2017-08-09 03:56] puneetloya commented on #754
Do you have to mention ImageReference? I was able to create an image without it.

[2017-08-10 17:17] veronicagg commented on #884
@vishrutshah Thanks for writing this up.
Few questions:
- Is port number `50342` being given to us as the default port to use for this?
- Flow wise, do we need to make a call to obtain the token from Azure first and then subsequent calls to the port return the same (previously obtained) token?
- Will we be modifying any code to try to make use of this first, and if this is not available, call the

[2017-08-10 17:18] veronicagg commented on #885
If we have a way to default or detect that we're in an MSI environment, and default to that token, we may want to have a scenario that simulates it and shows that behavior. thanks!

[2017-08-10 21:38] vishrutshah commented on #884
Thanks @veronicagg for reviewing. Good questions. Here are the answers:

1. Is port number 50342 being given to us as the default port to use for this?
**ans**: Yes, by default `50342` port at which authentication provider service would be running. There are ways VM creator can choose to use different port to run the service, so we'll be asking then as an optional parameter while create `MSITokenP

[2017-08-10 21:40] vishrutshah commented on #885
I see that's a great point. Let me follow up with the other team and see if we can detect and does defaulting makes sense of all application scenarios or we can let app builder decide that.

[2017-08-14 20:55] vishrutshah opened #893 "[Release] Add container registry into azure_sdk_*"
We have request to release `Microsoft.ContainerRegistry`;

Spec: https://github.com/Azure/azure-rest-api-specs/blob/current/specification/containerregistry/resource-manager/readme.md

cc:
@salameer @sarangan12 @selvasingh

[2017-08-15 21:36] puneetloya commented on #815
refer this repo:

https://github.com/Azure/azure-storage-ruby

[2017-08-15 21:37] #787 closed

[2017-08-16 04:44] akostadinov commented on #815
Yes, eventually I used that gem to do the deleting. It is suboptimal though to require a different gem with a different auth type for these operations. It's jumping through several hoops. One first needs `azure_mgmt_storage` to figure out storage account, get its keys, then the other gem to actually get a client for the objects under storage account and perform any operations. It doesn't help that

[2017-08-17 11:22] muhammad-asad-confiz opened #899 "Error Occurs while passing EncryptionConfig Object to Azure Data Lake Store Account"
Hi,

I am trying to create a data lake store account using SDK but I am getting following error
**Invalid parameters: Payload.EncryptionConfig.MsiSecretUri**
If I do not pass the encryption config object then the account is created successfully but as I pass the encryption config object along with other parameters error occurs.

The object I am passing is below:

[code]

but when I pass this objec

[2017-08-17 11:32] muhammad-asad-confiz opened #900 "Name parameter is required (Data Lake Store Account)"
Hi,
I am using `azure_mgmt_datalake_store`. I want to report that in `Firewall Rule` object, the name parameter is marked as an optional parameter [here](https://github.com/Azure/azure-sdk-for-ruby/blob/75f0b3f93e7fe779b0e7082db7d89b75b7d6d368/management/azure_mgmt_datalake_store/lib/generated/azure_mgmt_datalake_store/models/firewall_rule.rb#L45) but it is required.
Please make it required in the

[2017-08-17 17:14] vishrutshah opened #902 "Travis CI is broken due to the latest release of azure-core version 0.1.10"
Investigation from @katmsft

**cc**:
@sarangan12 @veronicagg

[2017-08-17 22:37] veronicagg opened #903 "Multi-api-version: create script to collect files for code generation"
Create a script (or include in rakefile) to get files from github up to the "resource-manager folder, grouped by versions.
Have it output a json with grouping and files that are in each group.
Would call autorest --input-file=<file1> --input-
file=<file2>... (check that client name gets picked up from readme file)

- keep version in the rakefile for each sdk

[2017-08-17 22:39] veronicagg opened #904 "Multi-api-version: update swagger_to_sdk.config"
Update swagger_to_sdk.config to work with the new structure

[2017-08-17 22:42] veronicagg opened #905 "Multi-api-version: Create a code generator for Client that groups all versions of an sdk together"
code generator for client at top level of sdk, as autorest will generate the code for each api-version.

[2017-08-17 22:43] veronicagg commented on #881
Make sure to add appropriate folder under "spec" folder to account for the corresponding api-version.

[2017-08-17 22:45] veronicagg opened #906 "Multi-api-version support: Update publish task to take sdk name as input"
We'd like to select the gems we'd like to publish, make the task flexible in the rakefile to account for this.

[2017-08-17 22:46] veronicagg opened #907 "Multi-api-version support: Keep history of what's shipped"
Our regen/publish task should log/document what's been shipped.
 - create a new file in github for release history
	- last commits from azure-rest-api
 	- autorest version

[2017-08-17 22:48] veronicagg opened #908 "Multi-api-version: additional engineering tasks"
Not required to complete the multi-api version work but would help on release process:
- tool to increment version for breaking changes or not
- merging swagger_to_sdk.config with metadata needed for generation (script)
- if a swagger spec is changed, tool to generate the specific gem, **plus** generate the profile gems where it's included

[2017-08-22 05:19] bilal-naeem-confiz commented on #644
Hi @vishrutshah
Is there any update on this issue?

[2017-08-22 05:19] bilal-naeem-confiz commented on #646
Hi @vishrutshah
Is there any update on this issue?

[2017-08-23 19:01] vishrutshah commented on #902
Thanks @katmsft for fixing this https://github.com/Azure/azure-ruby-asm-core/pull/43

[2017-08-23 19:01] #902 closed

[2017-08-23 19:14] sarangan12 opened #912 "Profile Generation: Design Profile Generator"
TODO: Sarangan to sync up with David and come up with the design for the Profile Generation.

[2017-08-23 19:14] sarangan12 commented on #912
Update: Task has been completed. The design is ready. Closing this issue.

[2017-08-23 19:15] #912 closed

[2017-08-23 19:16] sarangan12 opened #913 "Profile Generation: Implement the Profile generation code"
TODO: Based on the design discussed on the https://github.com/Azure/azure-sdk-for-ruby/issues/912, the scripts must be completed for generating multiple profiles.

[2017-08-23 19:17] sarangan12 commented on #913
Update: The code generation for profiles have been completed. The code is available in my fork at https://github.com/sarangan12/azure-sdk-for-ruby/tree/ProfileGenerator/profilegen.

[2017-08-23 19:17] #913 closed

[2017-08-23 19:18] sarangan12 opened #914 "Writing test cases to cover the first profile generated"

[2017-08-23 19:19] sarangan12 opened #915 "Profile Generation: Implement release tasks for creating and publishing profile gems & SDK Gems"

[2017-08-23 19:25] sarangan12 opened #916 "Profile Generation: Miscellaneous Tasks"
This task is a placeholder for miscellaneous modifications that may arise due to the potential changes in the implementation of multiple API versions.

[2017-08-23 19:26] sarangan12 opened #917 "Profile Generation: Create CI Jobs (Nightly/Prod Publish)"

[2017-08-23 21:13] salameer commented on #906
Closing this issue we'll merge with another

[2017-08-23 21:13] #906 closed

[2017-08-23 21:14] salameer commented on #915
Related to #906

[2017-08-23 21:22] salameer opened #919 "[Release] ms_rest_azure version 0.8.2 for MSI Authentication Support"

[2017-08-23 21:38] salameer opened #920 "Update the rakefile to Generate based on the new Meta-data"

[2017-08-23 21:46] salameer commented on #916
Resolving until we have a clear picture of these tasks

[2017-08-23 21:46] #916 closed

[2017-08-24 09:52] abbas-sheikh-confiz commented on #899
Hello Azure SDK Team,

Is this issue under consideration?

[2017-08-24 20:58] vishrutshah commented on #644
@dragonfly91 Do we have any updates on this for customer from service side?

[2017-08-24 21:05] vishrutshah commented on #646
@bilal-naeem-confiz  Sorry for the significant delays here. Let me follow up with team internally.

[2017-08-25 00:12] vishrutshah commented on #884
Closing this as feature complete!

[2017-08-25 00:12] #884 closed

[2017-08-25 11:18] bilal-naeem-confiz commented on #644
So I inspected the latest code that is available and the `list` method has been removed for `ProtectedItems`. Instead I used `list` method for `BackupProtectedItems` which returns a list of all items that can be backed up which are added to the recovery vault.

[2017-08-25 11:22] #644 closed

[2017-08-25 11:26] bilal-naeem-confiz commented on #650
I tried the code again with the latest version of the gem and I am no longer getting the warning. Closing this issue now.

[2017-08-25 11:26] #650 closed

[2017-08-25 11:28] bilal-naeem-confiz commented on #646
The `list` method has been removed from `ProtectionPolicies`. Using the `list` method available in `BackupPolicies` gives me what I want. Since the method which was causing the issue is no longer present, I am closing this issue.

[2017-08-25 11:28] #646 closed

[2017-08-25 11:36] bilal-naeem-confiz commented on #642
I have updated my script using the latest version of the `azure_mgmt_recovery_services_backup` gem
[code]

The error that I now get is
[code]

Why is this error occurring? I am using the method as described [here](https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_recovery_services_backup/lib/generated/azure_mgmt_recovery_services_backup/backup_protection_containers.rb#L

[2017-08-25 17:29] veronicagg commented on #900
@muhammad-asad-confiz I believe the name parameter in this case comes from https://github.com/Azure/azure-rest-api-specs/blob/current/specification/datalake-store/resource-manager/Microsoft.DataLakeStore/2016-11-01/account.json#L1573
Feel free to open an issue in the https://github.com/Azure/azure-rest-api-specs repo to evaluate updates to the specification for this property. If the service team a

[2017-08-25 19:09] vishrutshah commented on #642
@bilal-naeem-confiz I've talked to the service team. Although it is not clearly documented, seems like one of the filter `ContainerType` or `ProviderType` is expected from service side. Could you please give it a shot and let us know.

Reference: https://docs.microsoft.com/en-us/rest/api/recoveryservices/protectioncontainers/list

Let me know so that we can improve the API via swagger or documenta

[2017-08-25 22:48] vishrutshah opened #927 "[runtime] Supported Azure Environments has outdated links"
As we have derived these from the Node runtime. We should verify in Ruby runtime what's the changes.

Ref: https://github.com/Azure/azure-sdk-for-node/issues/2245

[2017-08-28 06:18] bilal-naeem-confiz commented on #642
@vishrutshah I have updated my script following the guide [here](https://docs.microsoft.com/en-us/rest/api/recoveryservices/protectioncontainers/list) and [here](https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_recovery_services_backup/lib/generated/azure_mgmt_recovery_services_backup/backup_protection_containers.rb#L40)
[code]

I am still getting the same error as men

[2017-08-28 23:48] vishrutshah opened #930 "[MSI] MSI authentication no longer requires tenant_id"
With this changes on the server side, Now MSI authentication no longer requires use of `tenant_id` while creating token credentials.

Usage:
[code]

[code]

[2017-08-29 18:49] ro-joowan opened #933 "[CUSTOMER QUESTION] - Data Lake Store Account Creation"
From: https://social.msdn.microsoft.com/Forums/azure/en-US/e77524ad-3401-4714-bd66-63ba80b95e32/data-lake-store-azure-sdk-ruby?forum=AzureDataLake

#<Azure::ARM::DataLakeStore::Models::DataLakeStoreAccount:0x005580c6e71ea8
@name="testdlsabc",
@location="East US 2",
@type=nil,
@properties=
#<Azure::ARM::DataLakeStore::Models::DataLakeStoreAccountProperties:0x005580c6e68060
@encryption_state="Enable

[2017-08-30 18:39] sarangan12 opened #937 "[ENHANCEMENT] - Add functionality to retrieve resource using id without rg"

[2017-08-30 18:53] veronicagg commented on #900
I'll open an issue in the azure-rest-api-spec repo for service team evaluation

[2017-08-30 18:56] veronicagg opened #938 "Release by 25th Sept with updated specs"

[2017-08-30 18:56] veronicagg commented on #938
FYI - @mayurid this is to accommodate your request on the new feature coming out.

[2017-08-30 18:57] veronicagg commented on #850
We'll evaluate taking on this enhancement.

[2017-08-30 18:59] veronicagg commented on #818
Taken care of by MSI work just completed.

[2017-08-31 23:33] sarangan12 opened #944 "ClientModelExtensions condition - Sequence must have primary type of string"
This issue is related to Issue https://github.com/Azure/azure-rest-api-specs/pull/1580. In the ruby generator code, Look at the lines https://github.com/Azure/autorest.ruby/blob/master/src/vanilla/ClientModelExtensions.cs#L201.

This condition is the reason for failure. The condition itself does not make perfect sense. Also, at this point, I do not know the reason for this condition added original

[2017-09-05 22:24] veronicagg commented on #944
There's another issue with collection format that may need to be addressed too https://github.com/Azure/autorest/issues/717

[2017-09-06 18:48] veronicagg commented on #938
Because of https://github.com/Azure/azure-sdk-for-ruby/issues/944, TrafficManager may need to be skipped, or released with a previous version of the spec. If we fix the issue, we should be good.

[2017-09-07 16:04] vishrutshah commented on #919
This has been released but due to the changes on the server side requires #930 to be addressed for correct and complete usage. Closing this and opening new releases item for `ms_rest_azure` version `0.9.0`.

[2017-09-07 16:04] #919 closed

[2017-09-07 16:05] vishrutshah opened #949 "[Release] ms_rest_azure version 0.9.0 for MSI Authentication Support with no tenant_id usage"
Follow ups on https://github.com/Azure/azure-sdk-for-ruby/issues/919

PR for this issue https://github.com/Azure/azure-sdk-for-ruby/pull/931

[2017-09-07 16:09] vishrutshah commented on #885
This sample has been **delayed** by computer server side changes on how MSI authentication works.

Related Issue #930 #949

[2017-09-07 16:33] rameshjanjyam opened #951 "Not able to add tags when creating availability set"
http://www.rubydoc.info/gems/azure_mgmt_compute/0.1.1/Azure/ARM/Compute/Models/AvailabilitySetProperties - we have policies set on our azure subscription to have some mandatory tags on the resources.
we currently use `ComputeManagementClient` to create availability set like below
[code]

seems there is no way for me to add tags to availability set properties - http://www.rubydoc.info/gems/azure_mg

[2017-09-07 22:33] sarangan12 commented on #933
I have used the following code to test this out:

[code]

I am getting the same error from the service. This is a service side issue and not a SDK issue.

[2017-09-07 22:34] sarangan12 commented on #933
I have spoken with @ro-joowan and confirmed that this is a service side issue. SDK has no pending action on this. @ro-joowan will coordinate with the customer in https://social.msdn.microsoft.com/Forums/azure/en-US/e77524ad-3401-4714-bd66-63ba80b95e32/data-lake-store-azure-sdk-ruby?forum=AzureDataLake

[2017-09-07 22:35] sarangan12 commented on #933
Closing this issue as there is no further action on the SDK side

[2017-09-07 22:35] #933 closed

[2017-09-07 22:36] sarangan12 commented on #899
@abbas-sheikh-confiz

This is a duplicate of issue https://github.com/Azure/azure-sdk-for-ruby/issues/933. The specific error is a service side issue and not an SDK related issue.

 have spoken with @ro-joowan and confirmed that this is a service side issue. SDK has no pending action on this. @ro-joowan will coordinate with the you in https://social.msdn.microsoft.com/Forums/azure/en-US/e77524ad-3

[2017-09-07 22:36] #899 closed

[2017-09-08 13:58] djberg96 opened #955 "Delete associated resources?"
Is there any facility for automatically deleting associated resources when you delete an object? So, if I delete a VM, is there a way to automatically delete any associated nics, ips, storage, etc?

I understand that in practice users should put all associated resources in the same resource group and just delete that resource group, but sometimes that doesn't happen out in the wild.

In azure-armr

[2017-09-08 23:22] vishrutshah opened #957 "[AutoRest.Ruby] Inheritance usage of "Resource" is broken"
`MsRestAzure` does not have a class `ProxyOnlyResource `. Inheritance logic is buggy

Example: https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_web/lib/generated/azure_mgmt_web/models/backup_item.rb#L11

AutoRest Code: https://github.com/vishrutshah/autorest.ruby/blob/master/src/azure/Model/CompositeTypeRba.cs#L51

Last changes to that model: https://github.com/Azure/a

[2017-09-09 02:46] vishrutshah opened #958 "[Release] azure_mgmt_* for version 0.12.0 for MSI changes"
Follow the checklist:

- [x] Revert PR #934 to make sure to not released broken model until #957 is resolved
- [ ] Regenerate all the existing azure_mgmt_* SDKs except `azure_mgmt_web`
- [x] Update all `.gemspec` files for latest `ms_rest_azure` runtime of version `0.9.0`
- [x] Update CHANGELOG as necessary

[2017-09-09 19:43] vishrutshah commented on #951
Hi @rameshjanjyam If i understand correctly you'd like to create tags while creating availability set.

Did you try out setting `[tags](https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_compute/lib/generated/azure_mgmt_compute/models/availability_set.rb#L86)` property on model `[AvailabilitySet](https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mg

[2017-09-09 19:47] vishrutshah commented on #944
@sarangan12 Seems like you are already sent a PR regarding this https://github.com/Azure/autorest.ruby/pull/7/files so assigning this to you to keep track. Thanks!

[2017-09-11 18:53] vishrutshah commented on #949
Released `ms_rest_azure` https://rubygems.org/gems/ms_rest_azure/versions/0.9.0

[2017-09-11 18:53] #949 closed

[2017-09-11 23:22] vishrutshah opened #969 "[azure_mgmt_*] auto-generate better changelog for the SDKs"
Requirements:

- [ ] Detect & note breaking changes
- [ ] Details on added methods / updated methods
- [ ] Auto generate the log from the swagger-to-sdk PRs
- [ ] Gem level changelog file instead of the top level changelog
- [ ] Each change-log should mention the api-version inside the gem

cc: @veronicagg

[2017-09-12 01:24] vishrutshah commented on #958
Releases version `0.12.0` of all `azure_mgmt_*` SDKs

[2017-09-12 01:24] #958 closed

[2017-09-12 03:04] vishrutshah commented on #930
Completed and released in ms_rest_azure version 0.9.0

[2017-09-12 03:04] #930 closed

[2017-09-12 11:29] Ilanak commented on #791
Is there an ETA for this bug?

[2017-09-13 00:12] veronicagg commented on #900
Please track this issue in the referenced issue, as we would need to pick up this change from the specification to reflect it in the generated sdk.

[2017-09-13 00:12] #900 closed

[2017-09-13 00:58] veronicagg commented on #791
Is what you're looking for in any of the the following REST API specs: https://github.com/Azure/azure-rest-api-specs/tree/current/specification/monitor/resource-manager/microsoft.insights
If it's there, then it should be included in the gems.
If it isn't, can you comment a bit more (maybe a link to the Azure service) on what you're looking to have available?

[2017-09-13 06:59] Ilanak commented on #791
I was looking for GetMetric/ [GetMetricFiltered](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/monitor/resource-manager/microsoft.insights/2016-09-01/examples/GetMetricFiltered.json)..
I didn't find it in the gem(https://github.com/Azure/azure-sdk-for-ruby/tree/master/management/azure_mgmt_monitor/lib/generated/azure_mgmt_monitor/models)

[2017-09-13 17:38] veronicagg commented on #791
I see, thanks, those operations are part of the spec at https://github.com/Azure/azure-rest-api-specs/blob/2fb9a0b3b902335ff0b0033711c234431931ec9d/specification/monitor/data-plane/microsoft.insights/2016-09-01/metrics_API.json, we're currently shipping gems for "resource-manager" APIs. I don't know yet when we'll be shipping gems for specs under "data-plane" (folder), will let you know if we do.

[2017-09-13 18:42] veronicagg commented on #955
@kirthik is there anything like this that could be coming from azure APIs? (so ruby and others could pick up?) Thanks!

[2017-09-13 18:43] #818 closed

[2017-09-13 18:50] veronicagg commented on #792
@sonianand11 sorry about the delay replying, can you check if this helps? https://github.com/Azure-Samples/compute-ruby-manage-vm
If not, please let us know. thanks!

[2017-09-13 18:54] veronicagg commented on #783
@sadikay we're not actively working on Service Bus code from azure gem, feel free to send us a PR to address this issue, we'd be happy to review it.

[2017-09-13 20:53] kirthik commented on #955
@ravbhatnagar to answer

[2017-09-13 20:55] vishrutshah commented on #885
Completed.

[2017-09-13 20:55] #885 closed

[2017-09-13 21:34] vishrutshah opened #976 "[Release] Azure Stack related releases"
- [x] Release Autorest.Ruby azure-arm generator for azure stack
- [ ] Release azure_mgmt_* gems with all the api-version included
- [ ] Release Profiles gem
   - [ ] Stack profile
   - [ ] Latest profile
- [x] Find the version of the gems to release
- [x] Make sure to update changelog for with the SHA of the public swagger repo from where we generated things for tracking purpose

[2017-09-13 21:59] salameer commented on #917
Not required anymore

[2017-09-13 21:59] #917 closed

[2017-09-13 22:08] sarangan12 commented on #938
Related to PR: https://github.com/Azure/autorest.ruby/pull/7

[2017-09-13 22:10] salameer commented on #914
Basic test on how to use profiles and write test to cover the profile generator itself

[2017-09-13 22:23] vishrutshah commented on #938
- [ ] https://github.com/Azure/azure-sdk-for-ruby/issues/938 : New Gem ACR

[2017-09-13 22:25] vishrutshah commented on #938
- [ ] Generate all the gems, that has not been generated so far for ruby and have .NET SDK + Tests

[2017-09-14 17:42] gucalder commented on #791
The Metrics API and the and ActivityLogs (aka Events) API are in the data-plane even though the calls go through ARM. Notice that these APIs can only consume data, i.e. no PUT, UPDATE, DELETE, POST, only GET.

Due to historic reasons these APIs where separated from the other ones classified as resource-manager, but they are all packed and published in the same SDK dll (current public version is Mi

[2017-09-20 18:42] veronicagg opened #985 "Unified authentication support across language SDKs"
@mcardosos can you give us some context/details on this based on what you're planning to do for Golang? thanks!

[2017-09-20 18:46] veronicagg opened #986 "Review Long-running operations design"
Search for email conversation with other language SDK owners about this topic, and add details

[2017-09-20 18:47] veronicagg opened #987 "Serializing polling state from long running operations to be reusable across calls"
Please add more details from email conversations.

[2017-09-20 20:50] mcardosos commented on #985
Following python example here
https://docs.microsoft.com/en-us/python/azure/python-sdk-azure-authenticate?view=azure-python#mgmt-auth-file

[2017-09-22 00:00] RocketPop commented on #186
In the backlog! Maybe this "feature" will make it in 2017  :)

[2017-09-22 00:26] vishrutshah commented on #186
@RocketPop Sorry for the delay. If i am looking at this correctly, do you need this API:

https://github.com/Azure/azure-rest-api-specs/blob/current/specification/notificationhubs/resource-manager/Microsoft.NotificationHubs/2017-04-01/notificationhubs.json#L739 ?

If so we do have it at http://www.rubydoc.info/gems/azure_mgmt_notification_hubs/0.12.0/Azure/ARM/NotificationHubs/NotificationHubs#cre

[2017-09-22 17:04] veronicagg opened #994 "Provide consistent behavior for 429 status code"
See https://github.com/Azure/autorest/issues/2601 for context.

[2017-09-27 22:11] vishrutshah commented on #957
Re-opening this as an issue did not get resolved correctly. This caused `SubResource` to not generate for `azure_mgmt_datalake` SDK for release of ARM 0.13.0.

Reverting this https://github.com/Azure/autorest.ruby/pull/12

[2017-09-28 22:09] veronicagg commented on #976
- I've generated all the gems in PR https://github.com/Azure/azure-sdk-for-ruby/pull/925 waiting for confirmation on which ones to ship or not.
- [] Need https://github.com/Azure/azure-sdk-for-ruby/issues/905 for each gem

[2017-09-28 22:14] veronicagg commented on #976
- [ ] Need to update release jobs
- [ ] Need to know if we'll have swagger_to_sdk working https://github.com/Azure/azure-sdk-for-ruby/issues/904
- [ ] Updates to readmes and docs

[2017-09-28 22:17] veronicagg commented on #881
https://github.com/Azure/azure-sdk-for-ruby/pull/925

[2017-09-29 22:15] sarangan12 opened #1010 "Remove Resource and SubResource models from ms_rest_azure"

[2017-10-02 09:00] axelgMS opened #1012 "Should prevent creating VM with name longer than 15 characters"
Looks like Ruby SDK allows creating VM with a name longer than 15 characters. This should not be allowed.
Portal prevents this, and PowerShell too. eg:

$vmName = "TestResourceNameXYZ-TestDataDisk-TestResourceNames-ABCDEF-123456"

PS C:\> New-AzureRmVM -ResourceGroupName $resourceGroup -Location $location -VM $vmConfig
WARNING: Since the VM is created using premium storage, existing standard stora

[2017-10-02 19:58] vishrutshah commented on #904
I've talked with Laurent and discussed how we should update our swagger_to_sdk to enable the CI pipeline.

Overall, I'll refer the python's structure https://github.com/Azure/azure-sdk-for-python/blob/master/swagger_to_sdk_config.json#L83 to enable for Ruby.

I am working on this to update our CI and test it out but overall, based on our discussion that it pretty feasible and supported by swagger_

[2017-10-03 19:01] #957 closed

[2017-10-04 18:03] NatashaHull opened #1015 "WebApps class trying to parse XML as though it is JSON"
I am trying to use the `Azure::ARM::Web::WebSiteManagementClient.new#web_apps.list_publishing_profile_xml_with_secrets` method to retrieve ftp settings for my app. However, I keep getting this error:

[code]

If you take a look at your code, the error seems to be on lines 8734 and 8726 of the list_publishing_profile_xml_with_secrets_async method where it tries to load xml as though it were JSON.

[2017-10-04 18:36] veronicagg commented on #1012
thanks for reporting, we'll investigate and get back on this.

[2017-10-04 18:43] veronicagg commented on #1015
@NatashaHull would you mind pasting your raw request/response, so we can check on types being asked and sent by the service?
You can set environment variable 'AZURE_HTTP_LOGGING' to get more info on request/response.
Thanks!

[2017-10-04 18:59] NatashaHull commented on #1015
@veronicagg This is the output I get with that env var
[code]

[2017-10-04 21:45] vishrutshah commented on #951
Feel free to let us know and reopen the issue if you still have trouble. Thanks!

[2017-10-04 21:45] #951 closed

[2017-10-04 21:46] vishrutshah commented on #986
Please add more information from the email regarding what is the design and then clear out assignment.

[2017-10-05 21:52] veronicagg commented on #938
We did not generate new gems, we'll do another release with all.

[2017-10-06 18:01] veronicagg opened #1024 "Release all gems with latest autorest an specs before multi-api version release"

[2017-10-06 22:51] sarangan12 opened #1028 "Issue with odata.type in monitor API"
Link: https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_monitor/lib/generated/azure_mgmt_monitor/models/rule_metric_data_source.rb#L21

@veronicagg @vishrutshah @sarangan12 @salameer

[2017-10-07 00:16] vishrutshah commented on #1028
Seems like:

https://github.com/Azure/autorest.nodejs/blob/master/src/vanilla/CodeNamerJs.cs#L69 is not in ruby

[2017-10-07 01:47] sarangan12 commented on #1028
Adding RemoveInvalidCharactersProperty method is not fixing the issue

[2017-10-07 03:47] sarangan12 commented on #1028
I have created a PR https://github.com/Azure/autorest.ruby/pull/14 which will fix this issue. Not the best solution. But does the job.

[2017-10-09 21:49] puneetloya opened #1032 "Images.get should return nil instead of an exception for"
https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_compute/lib/generated/azure_mgmt_compute/images.rb#L121

The method throws an exception if image does not exist, it should return null for better code integration. Its absolutely correct, when the method throws an exception, if the resource group does not exist. Can the method be made a little forgiving?

[2017-10-09 22:08] sarangan12 opened #1033 "Revert the changes of PR 14."
1https://github.com/Azure/autorest.ruby/pull/14

[2017-10-09 22:09] sarangan12 opened #1034 "Post Profile Release Activity"
1. The Monitor SDK has odata.type which has a temporary patch. This must be removed and a proper solution must be found.
2. Unification of meta-data
3. task to evaluate if we can simplify the each gem's profile metadata, we have a lot of files (one for each gem) at this point that would require manual update in multiple places with similar data.
4. Look at https://github.com/Azure/azure-sdk-for-ru

[2017-10-10 22:31] vishrutshah commented on #904
Closing this task as completed and pushed to the `azure-stack` branch

[2017-10-10 22:31] #904 closed

[2017-10-11 17:40] veronicagg opened #1042 "Service Fabric - latest preview spec results in code generation error due to "version" being one of the names of the models."
With multi-api version changes, we can avoid generating the version file (which would be only needed for telemetry purposes, we believe) and update the code that consumes it for telemetry, to point to the code model variable instead of the version from the file.  https://github.com/Azure/autorest.ruby/blob/4642567d57594d48d42e4dbe01a1f0864da8ad55/src/vanilla/Templates/ServiceClientTemplate.cshtml#

[2017-10-11 22:08] #1024 closed

[2017-10-11 22:09] veronicagg commented on #1024
https://github.com/Azure/azure-sdk-for-ruby/tree/ARM-0.14.0

[2017-10-13 23:30] #920 closed

[2017-10-13 23:31] #883 closed

[2017-10-13 23:32] #881 closed

[2017-10-13 23:32] #880 closed

[2017-10-13 23:33] #879 closed

[2017-10-16 07:53] tarrygo opened #1053 "Support for data plane API."
We want to support explore functionality over a datalake account, wherein the user can go through the folders and files present in a particular datalake account.
To support this, we are using azure_mgmt_datalake_store 0.5.0 version gem which is quite old.  However, in the latest gem,  we see that the support for FileSystem operations have been removed from version 0.6.0 onwards.
The Apis that we u

[2017-10-18 05:46] #1033 closed

[2017-10-18 05:49] sarangan12 commented on #944
The issue has been fixed. Closing it now

[2017-10-18 05:49] #944 closed

[2017-10-18 05:50] sarangan12 commented on #846
Task completed. Closing it now

[2017-10-18 05:50] #846 closed

[2017-10-18 21:09] veronicagg opened #1067 "Automatic PRs only containing build.json files"
I noticed for example https://github.com/Azure/azure-sdk-for-ruby/pull/1062 contains only updates to build.json file.
Should we (is there a way) to suppress Automatic PRs when there are no actual code changes?
In this case the PR was changing camel casing for a property in the spec, which would affect generated code, because we choose our own casing.
Is there any benefit from updating the build.js

[2017-10-18 21:15] veronicagg opened #1068 "ARM namespace seems out of date for configurable and Default"
module Azure::ARM
   The Azure::ARM::Configurable module provides basic configuration for Azure ARM activities.
  module Configurable
\management\azure_mgmt_resources\lib\profiles\common\configurable.rb

Could/should we be updating this namespace? Seems that we removed "ARM" namespace from the sdk, so we may want to update this one for consistency.

[2017-10-18 21:17] veronicagg opened #1069 "Documentation for intellisense while coding"
It appears we're missing documentation on Client.new  - argument ("options") should be added and explained at: https://github.com/Azure/azure-sdk-for-ruby/blob/2796673eac6f3aa2a2378cba2c95acceafefa1ba/management/azure_mgmt_resources/lib/profiles/v2017_03_09/resources_v2017_03_09_profile_client.rb#L18
Unless the customer follows the code or copies an example, there's no indication on what the argum

[2017-10-18 21:27] veronicagg opened #1070 "Not seeing intellisense for client.model_classes"
When looking at sample resource-manager-ruby-resources-and-groups, I noticed that when we instantiate client, in RubyMine I see "credentials" as I type "." but not model_classes even though in the list is not "suggested"/bolded, model_classes is an accesor of the parent class "ResourcesClass".
Anything we can do to help?

[2017-10-18 21:28] #976 closed

[2017-10-18 21:29] #882 closed

[2017-10-18 21:31] veronicagg commented on #754
Closing issue, as there wasn't a response. If you're still encountering this issue, feel free to reopen. Thanks.

[2017-10-18 21:31] #754 closed

[2017-10-18 21:33] veronicagg commented on #186
@RocketPop If what @vishrutshah pointed out above does not help, please let us know. Closing for now, as  we haven't seen a reply, feel free to reopen if necessary.

[2017-10-18 21:33] #186 closed

[2017-10-18 21:37] veronicagg commented on #915
https://github.com/Azure/azure-sdk-for-ruby/pull/1036

[2017-10-18 21:38] #905 closed

[2017-10-18 21:38] #938 closed

[2017-10-18 21:41] #893 closed

[2017-10-18 21:42] #914 closed

[2017-10-18 21:50] veronicagg commented on #907
I've added hash commits to config.json file and included versions of autorest in changelog. Also, we have included build.json file for automatic PRs which indicates which version of autorest was used for the generation of the specific PR. Do we need more? should we create something automatically?

[2017-10-18 21:53] veronicagg opened #1071 "Tool to increment version depending on breaking changes or not"
Splitting out of https://github.com/Azure/azure-sdk-for-ruby/issues/908
The idea was to have a tool that allows us to bump versions of sdks, depending on if there were breaking changes since the last time we shipped or not.

[2017-10-18 21:55] veronicagg opened #1072 "Merging swagger_to_sdk.config with config.json or generate from same source"
Not sure if we'll be able to merge these files, but at least we should have manual input in 1 place and then generate the different config files needed, for swagger to sdk, for gem generation, for profiles.

[2017-10-18 21:55] veronicagg commented on #1072
Split out of https://github.com/Azure/azure-sdk-for-ruby/issues/908

[2017-10-18 21:59] veronicagg opened #1073 "If a swagger spec is changed, have a task to generate the specific gem and related files"
Have a task/way of generating a service gem and necessary other related files (if anything needed in azure_sdk as well), when a spec gets updated.
Evaluate scenario, where we'd want to ship a gem based on updates to specs that are included in it.

[2017-10-18 21:59] veronicagg commented on #1073
split out of https://github.com/Azure/azure-sdk-for-ruby/issues/908

[2017-10-18 22:00] veronicagg commented on #908
Opened separate tasks for each, closing this one.

[2017-10-18 22:00] #908 closed

[2017-10-18 22:10] veronicagg opened #1074 "Current profile generation does not allow to pick specific swagger files"
For profile generation we're currently picking up all specs under a directory (api-version), we should allow a way to point to a specific file, so we can "build" specific profiles as needed.

[2017-10-18 22:13] veronicagg commented on #903
If we want this, we'll need to account for exclusions as there are some api-version that we're not shipping due to telemetry or generation issues.

[2017-10-18 22:18] veronicagg opened #1075 "Document regen and release steps"
Need to write up documentation on steps for generation of gems and profiles, and azure_sdk.
Need to clarify cases where version needs to be bumped versus not.
Need to clarify which version of autorest and autorest.ruby should be used.
Need to clarify how to release specific gems and update their versions.

[2017-10-18 22:23] veronicagg opened #1076 "Updates to samples based on 0.15.0 release"
We've updated a set of samples based on the 0.15.0 release.

1. Should we be updating more samples?
2. Create a sample to show azure_sdk usage

[2017-10-18 22:30] veronicagg opened #1077 "Graph sdk shipping under "resource-management" and Mgmt namespace, even though it's data plane"
Do we need to revisit how we're shipping Azure Graph service gem?
https://github.com/Azure/azure-sdk-for-ruby/tree/master/management/azure_mgmt_graph
This gem is categorized as data plan but under Mgmt namespace.

[2017-10-20 01:15] veronicagg opened #1080 "XML support for autorest.ruby generator"
We'd need to add support for xml content type in our generator as services start needing it, particularly data plane.

[2017-10-20 21:41] veronicagg commented on #1053
Thanks for submitting this request.
- The first API is coming from https://github.com/Azure/azure-rest-api-specs/blob/current/specification/datalake-store/data-plane/Microsoft.DataLakeStore/2016-11-01/filesystem.json#L446
    -> we're currently focused on Resource Management, since this API is part of data plane we haven't shipped it in later gems, not sure yet on ETA on this.
- For the second one

[2017-10-20 21:44] veronicagg commented on #955
ping @ravbhatnagar

[2017-10-23 23:03] veronicagg opened #1083 "Support Preview vs official releases to support services in different stages"
Opening issue to track a proposal on how to deal with Preview and Stable releases of sdks for services in these stages.

[2017-10-23 23:04] veronicagg opened #1084 "Enable nightly releases under preview"
Evaluate doing nightly releases for preview versions of gems.

[2017-10-24 22:11] veronicagg opened #1089 "Supporting Cognitive Services"
Support code generation of the cognitive services here ( Talk to Mariana and Alva about the one that are done baking):

https://github.com/Azure/azure-rest-api-specs/tree/current/specification/cognitiveservices/data-plane

- write some tests

[2017-10-24 22:16] veronicagg commented on #1073
Update this taks please, it seems that this is already to be covered under another affort or Task

[2017-10-24 22:20] veronicagg commented on #1072
This should also consider support to preview strategy (#1083), that would inlcude the preview bits bits generation and automation and figuring out the branching strategy

Thanks

Your respectively Veronica (VERONICA)

Thats Veronica

[2017-10-24 22:26] veronicagg commented on #915
Task completed

[2017-10-24 22:26] #915 closed

[2017-10-24 22:28] veronicagg commented on #907
This is done with the Hash

[2017-10-24 22:28] #907 closed

[2017-10-26 17:45] veronicagg opened #1092 "Initializing clients needs tenet_id, client_id, client_secret and subscription_id to be passed in"
Either in options or in env variables, we need the credentials for clients to work.
More details to be added from customer scenario.

[2017-10-26 17:46] veronicagg commented on #1092
@stuartpreston FYI

[2017-10-26 17:48] veronicagg opened #1093 "Create a CI job for samples"
Enable running in canary and production.

[2017-10-27 19:02] xiaomi7732 opened #1096 "Access multiple service bus topics with SAS in threads leads to 404 error"
Could you please take a look?
I can run the code sequentially (call c1.run then c2.run) without problem. This issue is causing the logstash-plugin for azure topics not working when there are multiple inputs configured:
https://github.com/Azure/azure-diagnostics-tools/issues/113

Code for repro:
[code]

Call-stack:
[code]

[2017-10-30 21:47] sarangan12 commented on #1068
This task has been completed. Moved Azure::ARM::Configurable to Azure::Common::Configurable and Azure::ARM::Default to Azure::Common::Default. Refer [PR #1090](https://github.com/Azure/azure-sdk-for-ruby/pull/1090) for further details. Closing this task.

[2017-10-30 21:47] #1068 closed

[2017-10-30 23:26] veronicagg opened #1099 "azure_mgmt_graph - not able to set tenant_id on client"
Looking into https://github.com/Azure/azure-sdk-for-ruby/blob/3c6a7cfec36cab7f493e1846ee79588c3e06c34d/management/azure_mgmt_graph/lib/1.6/generated/azure_mgmt_graph/graph_rbac_management_client.rb#L24
I don't see tenant_id being requested as parameter in the client constructor, or having a way to set it.
For reference, looking into node code for graph I see https://github.com/Azure/azure-sdk-for-

[2017-11-01 18:31] veronicagg opened #1104 "Need to figure out how to make full code updates from swagger_to_sdk to sdk generation"
Currently swagger_to_sdk will run autorest and generate code based on PRs meged on the azure-rest-api-specs repo, since we added profiles to our sdks, the profile generation may be out of sync with the new code generation of the inner sdk bits. We need to smooth out the process, to make sure we can merge automatic PRs without problems.

[2017-11-01 18:55] sarangan12 commented on #1092
Message from Stuart Preston:

**Specifically, even though we sent in credentials (tenant_id, client_id, and client_secret) via the ApplicationTokenProvider in code, this credentials object appears to be reset by the time the client initializes.  We were able to create a client successfully but only when setting environment variables with tenant, client_id and secret, and passing an empty options h

[2017-11-01 18:59] sarangan12 commented on #1092
The issue has been verified and confirmed. The Azure::ARM::Default always tries to create credentials from the environment variables which is incorrect. With the latest release 0,15.1, this issue has been fixed.

[2017-11-01 18:59] #1092 closed

[2017-11-07 18:33] sarangan12 commented on #1010
Task completed. Closing it

[2017-11-07 18:33] #1010 closed

[2017-11-07 18:34] sarangan12 commented on #927
Task Completed. Closing it

[2017-11-07 18:34] #927 closed

[2017-11-08 01:09] bganapa opened #1114 "AzureStack- Provide option to customize ARM url"
Right now customizing the base_url for ARM (management.azure.com) is not taking effect. For AzureStack, this is defined by the azurestack operators

[2017-11-08 01:11] bganapa opened #1115 "AzureStack-Provide option to customize the Token Audience(active_directory_resource_id)"
For Azure Stack , the token audience(active_directory_resource_id)  would be different and it is defined by the azurestack admin operators. We need a way to customize this

[2017-11-08 01:14] bganapa opened #1116 "AzureStack - Provide option to customize storage and keyvault data plane endpoint suffix"
For azurestack environments the storage and keyvault endpoint suffix are all different .  we need a way to customize storage_endpoint_suffix and key_vault_dns_suffix

[2017-11-08 01:16] bganapa opened #1117 "AzureStack-ApiVersion for Storage management in 2017-03-09-profile should be 2016-01-01"
Rightnow the value is 2015-06-15 and the value should be 2016-01-01

[2017-11-08 04:59] bganapa opened #1118 "Environment settings should not mandate the properties portal_url, management_endpoint_url, gallery_endpoint_url, publishing_profile_url"
These properties are not necessarily used by the ruby sdk , Even in azure i doubt whether portal_url is needed as i dont see a need for the sdk.

[2017-11-09 01:23] veronicagg opened #1120 "Add telemetry to profile clients"
We're currently adding info to the user agent for telemetry in each api-version client see https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_compute/lib/2017-03-30/generated/azure_mgmt_compute/compute_management_client.rb#L185

We should probably add more to the user agent hen a profile is being used (to know from telemetry if profiles are being used) somewhere around;

[2017-11-09 01:45] veronicagg commented on #1083
Proposal:

Virtual profiles - Latest and Preview profiles will include breaking changes and will not follow semantic versioning.
Snapshot profiles – needed to not break customers and be able to follow semantic versioning for the gem.
We can have all preview and stable folders generated inside the gem as different api-versions. We could extend the namespace for the preview versions, as Preview::Api

[2017-11-09 02:43] veronicagg commented on #1015
@NatashaHull Looking into this it appears that the rest api defined at https://github.com/Azure/azure-rest-api-specs/blob/current/specification/web/resource-manager/Microsoft.Web/2016-08-01/WebApps.json#L11766 produces XML.
Our Ruby SDK does not currently support XML content type, therefore the exception you're seeing.
We will evaluate supporting XML and will let you know one we have updates.

[2017-11-09 21:16] sarangan12 commented on #1032
The Ruby SDK is a generated SDK. So, such modifications require modifications of swagger and/or service which must be done by the compute team. So, I have created an issue with the specs repository where the issues are monitored by the compute team. Link to the issue: https://github.com/Azure/azure-rest-api-specs/issues/1991. Closing this issue. Further developments on the issue could be tracked u

[2017-11-09 21:16] #1032 closed

[2017-11-09 21:19] sarangan12 commented on #792
As there is no activity on this thread, I am closing this issue.. @sonianand11, If you still have issues with creating VM, feel free to reopen this issue.

[2017-11-09 21:19] #792 closed

[2017-11-09 21:30] sarangan12 commented on #987
Actually, we already have an issue for this one. https://github.com/Azure/azure-sdk-for-ruby/issues/845. So closing this duplicate issue.

[2017-11-10 07:16] sarangan12 commented on #1012
@axelgMS Adding such constraints on the SDK depends on the entries in swagger. I have done necessary changes to Ruby SDK to handle the constraints if they are available. But, only the compute team could add such constraints to the swagger and I have created an issue https://github.com/Azure/azure-rest-api-specs/issues/1990 for the compute team.

Since there is no pending action items, I will be cl

[2017-11-10 07:16] #1012 closed

[2017-11-13 22:51] veronicagg commented on #1015
https://github.com/Azure/azure-sdk-for-ruby/issues/1080

[2017-11-14 19:02] veronicagg opened #1129 "Remove need to pass tenant_id, client_secret and client_id in the options hash to create a profile client, when credentials are passed in"
@sarangan12 we've discussed removing the requirement of passing tenant_id, client_secret and client_id in he `options` hash, **when** credentials are passed in.
Could our reset! method look something like this?:
[code]

[2017-11-15 01:22] veronicagg commented on #1104
I talked to @lmazuel about this, swagger_to_sdk tool does not currently enable running additional commands, but he may add a feature to get that working, which would help us here.
Currently he has a similar issue in python SDK and is checking out the branch from the automatic PR being created and editing it to include running the additional commands, like profile client generation.

[2017-11-15 01:31] veronicagg commented on #1034
@sarangan12 could you open an issue to list the remaining tasks from this issue and the feedback I left in the last PR that was merged? This issue contained a lot of things, and it's hard to know what's been addressed versus not, so I'd prefer that we split and close this one with just the set of things that were addressed.

[2017-11-15 16:51] lmazuel commented on #1104
Was thinking about this this night, probably suggest a "after_generation" and "before_generation" node in the config file, where I just execute that, pushing as command line some info (package name, output folder, etc.). Thoughts?

[2017-11-15 18:54] veronicagg commented on #1104
@lmazuel yes, sounds good, enabling running commands before and after should do it (we may need to add commands that install stuff for our specific tasks to run).

[2017-11-15 19:21] veronicagg commented on #1116
Seems like a duplicate of https://github.com/Azure/azure-sdk-for-ruby/issues/1118, @sarangan12 is looking into this and will reply in the other issue.

[2017-11-15 19:21] #1116 closed

[2017-11-16 18:59] sarangan12 commented on #1117
Task completed

[2017-11-16 18:59] #1117 closed

[2017-11-16 22:23] #1042 closed

[2017-11-17 00:54] lmazuel commented on #1104
@veronicagg done
https://github.com/lmazuel/swagger-to-sdk/pull/22

Comments are welcomed :)

[2017-11-29 22:19] salameer opened #1151 "Investigate Cognitive Service Support"
-Figure out if we'll need generator changes
- New extensions support

[2017-11-29 22:24] salameer opened #1152 "Support Cosmos DB mongo with Samples"

[2017-11-29 22:30] salameer opened #1153 "Support Keyvault Auto generation"

[2017-12-07 21:42] bganapa commented on #1116
Not really a duplicate, but I think this can be handled as part of the linked issue https://github.com/Azure/azure-sdk-for-ruby/issues/1118

[2017-12-08 22:54] veronicagg opened #1175 "Support explicit MSI (managed service identity) for Compute"
Need to consume changes in progress from Compute specs to include explicit identity.
Need to update MSITokenProvider to accept client ID
Need to release a Resources/Managed_Identity sdk package, corresponding to a new spec currently in progress.

[2017-12-08 22:57] veronicagg commented on #1099
Moving to sprint-111, prioritized preparing the work for explicit MSI instead.

[2017-12-12 21:22] veronicagg opened #1182 "Release azure_mgmt_storage with 2017-10-01 api-version"

[2017-12-14 23:52] #1182 closed

[2017-12-21 23:52] elyscape opened #1202 "DNS 2017-09-01 API with CAA support"
The Azure DNS API now supports CAA records with version 2017-09-01 (see Swagger PR at Azure/azure-rest-api-specs#1835). As mentioned [in a comment], that has not been brought over to the Ruby SDK, which currently [only supports 2016-04-01][current].

[in a comment]: https://github.com/Azure/azure-rest-api-specs/pull/1835#issuecomment-353475083
[current]: https://github.com/Azure/azure-sdk-for-ruby

[2017-12-21 23:55] elyscape commented on #1202
As per [this comment], current plans are to get this in place sometime around mid January.

[this comment]: https://github.com/Azure/azure-rest-api-specs/pull/1835#issuecomment-353486859

[2017-12-21 23:57] #1175 closed

[2017-12-22 00:01] veronicagg commented on #1151
We may need token support and images for this.
I checked with .Net SDK and each spec is shipping in its own package with the idea is that they could be bundled later if needed.
The ones .Net has shipped so far ar https://github.com/Azure/azure-sdk-for-net/tree/psSdkJson6/src/SDKs/CognitiveServices/dataPlane

[2017-12-22 00:02] veronicagg commented on #1083
Removing sprint, as this is something that's going to be tackled a bit more globally by the team.

[2017-12-22 00:04] veronicagg commented on #1129
@sarangan12 any thoughts on which sprint you'll be tackling this?

[2017-12-22 02:12] veronicagg opened #1203 "Engineering: find a good way to validate swagger_to_sdk_config.json updates"
We generally noticed there's a problem with swagger_to_sdk_config.json after having a PR in azure-rest-api-specs break, CI brakes due to this. We should implement a way to validate this earlier, as it's relatively easy to make a mistake when updating the file and hard to catch during reviews.

[2017-12-22 02:16] veronicagg opened #1204 "Enum changes in specs: consistent type return when new enums get added"
If an enum value comes back that our models don't know on deserialization, we display a warning and return the string.
If this value gets later on added to the spec (therefore our SDK produces an enum for it), it'll most likely mean a breaking change from the consumer point of view.
We should evaluate what behavior we want and make changes to our implementation if needed.

Currently, this is what’

[2017-12-22 02:18] veronicagg opened #1205 "Additional properties coming in responses being ignored by SDK"
Evaluate what the SDK behavior should when additional properties (properties not known the SDK) come back in responses, ignoring/throwing them away is not great from the customer perspective if the server is sending them back.
@johanste has more context on this, on how it's being deal in other SDKs.

[2018-01-02 18:53] sarangan12 opened #1210 "Swagger 2 SDK Tooling"
TODO:
Sarangan to coordinate with Martin, Shawn and Vernoica to discuss the changes required:

Rough Notes:
1. Once a branch is created in Specs Repository, then a corresponding branch should be generated in the ruby repository with the code generated. We need to decide on drops location,

[2018-01-02 21:55] #1075 closed

[2018-01-02 21:58] sarangan12 commented on #1077
This task has been completed with the PR https://github.com/Azure/azure-sdk-for-ruby/pull/1201 and the PR has been merged

[2018-01-02 21:58] #1077 closed

[2018-01-02 22:03] sarangan12 commented on #1210
Duplicate of #1104. Closing it

[2018-01-02 22:03] #1210 closed

[2018-01-02 22:10] veronicagg commented on #1034
task tracking #4 above https://github.com/Azure/azure-sdk-for-ruby/issues/1074

[2018-01-02 22:10] #1034 closed

[2018-01-02 22:14] veronicagg commented on #1151
task continuing here https://github.com/Azure/azure-sdk-for-ruby/issues/1089
token support and images may be needed.

[2018-01-02 22:14] #1151 closed

[2018-01-02 22:30] veronicagg opened #1213 "Update Rakefile to support paramater for gem specific clean, generation via autorest and profile"
Today gems are cleaned and regenerated for the whole folder structure, we need a parameter to enable per gem generation, as pre-req to https://github.com/Azure/azure-sdk-for-ruby/issues/1104

[2018-01-03 01:13] #1069 closed

[2018-01-03 22:51] veronicagg commented on #1118
Will depend on same discussion as https://github.com/Azure/azure-sdk-for-ruby/issues/1115, so closing this one as we don't believe it's required.

[2018-01-03 22:51] #1118 closed

[2018-01-03 22:53] sarangan12 opened #1215 "Note: Discuss with Go Team regarding Auto Registration of RPs"

[2018-01-10 20:43] sarangan12 commented on #1073
Task completed

[2018-01-10 20:43] #1073 closed

[2018-01-10 20:44] sarangan12 commented on #1120
Task completed

[2018-01-10 20:44] #1120 closed

[2018-01-10 20:45] sarangan12 commented on #1213
This is the duplicated of the issue https://github.com/Azure/azure-sdk-for-ruby/issues/1073. Task completed and closing it

[2018-01-10 20:45] #1213 closed

[2018-01-11 23:33] sarangan12 commented on #1129
Task completed

[2018-01-11 23:33] #1129 closed

[2018-01-11 23:34] sarangan12 commented on #1115
Task completed

[2018-01-11 23:34] #1115 closed

[2018-01-11 23:34] sarangan12 commented on #1114
Task Completed

[2018-01-11 23:34] #1114 closed

[2018-01-18 22:08] sarangan12 commented on #199
@arax If you are planning to submit the PR, you can reopen this issue. Since this is an old issue I am closing this issue

[2018-01-18 22:08] #199 closed

[2018-01-18 22:10] sarangan12 commented on #203
@arax Please reopen this issue when you have a PR. Since this is an old issue, I am closing it

[2018-01-18 22:10] #203 closed

[2018-01-18 22:12] sarangan12 commented on #204
@arax Please reopen this issue when you submit a PR. Since this is an old issue, I am closing this

[2018-01-18 22:12] #204 closed

[2018-01-18 22:13] sarangan12 commented on #256
@jervill Please reopen this issue when you submit a PR. Since this is an old issue, I am closing this

[2018-01-18 22:13] #256 closed

[2018-01-18 22:14] sarangan12 commented on #232
I do not see any further action remaining on this issue. I am closing this

[2018-01-18 22:14] #232 closed

[2018-01-18 22:18] sarangan12 commented on #441
Recommending all users to move to ARM model. Since this is an old issue, I am closing this

[2018-01-18 22:18] #441 closed

[2018-01-18 22:20] sarangan12 commented on #351
This is an old issue and does not seem to be important now as this is in the old asm model. I am closing this.

[2018-01-18 22:20] #351 closed

[2018-01-18 22:27] sarangan12 commented on #445
Recommending all users to move to the ARM model. No new enhancements are being done in the asm model. Since this is an old issue, I am closing this.

[2018-01-18 22:27] #445 closed

[2018-01-18 22:28] sarangan12 commented on #448
Recommending all users to move to the ARM model. Since this is an old issue, I am closing this issue

[2018-01-18 22:28] #448 closed

[2018-01-18 22:31] sarangan12 commented on #535
Added a page to link this issue https://github.com/Azure/azure-sdk-for-ruby/wiki/Versioning-Information

Since there is no more action items, I am closing this issue

[2018-01-18 22:31] #535 closed

[2018-01-18 22:32] sarangan12 commented on #551
Closing this issue since the repo has gone a lot of changes

[2018-01-18 22:32] #551 closed

[2018-01-18 22:37] #605 closed

[2018-01-18 22:41] sarangan12 commented on #642
@bilal-naeem-confiz If you are still facing this issue, Please reopen the issue. Since there is no movement on this issue for about 6 months, I am closing this issue

[2018-01-18 22:41] #642 closed

[2018-01-18 22:45] sarangan12 commented on #783
@sadikay You can reopen the issue if you are planning to submit the PR. Closing the issue

[2018-01-18 22:45] #783 closed

[2018-01-18 22:59] sarangan12 commented on #588
With recent changes to the SDK, we could do independent versioning and release individual gems. Closing this issue

[2018-01-18 22:59] #588 closed

[2018-01-19 00:01] dandagopi opened #1243 "time out issue"
ruby vm_create.rb
long_running_operation_retry_timeout = 30
/usr/share/ruby/net/http.rb:878:in `initialize': Connection timed out - connect(2) (Faraday::TimeoutError)
    from /usr/share/ruby/net/http.rb:878:in `open'
    from /usr/share/ruby/net/http.rb:878:in `block in connect'
    from /usr/share/ruby/timeout.rb:52:in `timeout'
    from /usr/share/ruby/net/http.rb:877:in `connect'
    from /usr

[2018-01-19 00:17] rameshjanjyam commented on #1243
Here is the script that was run

[code]

[2018-01-19 22:50] sarangan12 commented on #1243
@dandagopi @rameshjanjyam Thanks for reporting the issue and providing the code. I looked into the code and tried it myself and it seems to work fine. I am not able to reproduce the timeout issue. I believe that the error might be the result of the way the network has been setup. I might be able to provide more information only if I get access to the environment.

In the meantime, I suggest settin

[2018-01-19 23:31] sarangan12 commented on #1243
Mail from Sushant Rane:

Hello Team,

We were able to find the cause of the issue. The issue happens while calling Azure ARM API over public peering. OneOps was experiencing intermittent timeout issues, while making a connection to management.azure.com API endpoint.

The timeouts are observed when the endpoint resolves to a datacenter IP not in their allowed BGP Community for public peering. We ha

[2018-01-19 23:31] sarangan12 commented on #1243
As there is no pending action items on this issue, I am closing this issue.

[2018-01-19 23:31] #1243 closed

[2018-01-20 00:07] rameshjanjyam commented on #1243
Thank you @sarangan12.

[2018-02-07 12:45] sspies8684 opened #1265 "Support delegated token provider"
Is there a way to do a delegated login for multi-tenant applications? I think the ruby sdk does not support this yet.

As a reference, please refer to

https://github.com/Azure/autorest-clientruntime-for-java/blob/master/azure-client-authentication/src/main/java/com/microsoft/azure/credentials/DelegatedTokenCredentials.java

and

https://docs.microsoft.com/en-us/azure/active-directory/develop/acti

[2018-02-13 18:24] sarangan12 commented on #1202
Please find https://github.com/Azure/azure-sdk-for-ruby/blob/master/config.json#L281

The API 2017-09-01 has been added to the SDK and is available with the latest release azure_mgmt_dns 0.16.0 and azure_sdk(rollup) 0.16.1.

Task completed. Closing this task

[2018-02-13 18:24] #1202 closed

[2018-02-13 18:26] sarangan12 commented on #1099
I looked into this. It seems client_id is needed by the service for processing. Else it will error out. Also, it can be set as:

[code]

I do not see any pending action items on this task. Task completed. Closing this task

[2018-02-13 18:26] #1099 closed

[2018-02-13 18:39] sarangan12 commented on #1089
The Cognitive Services Data Plane SDKs have been built and released - version 0.16.0.

Task completed. Closing this task.

[2018-02-13 18:39] #1089 closed

[2018-02-14 20:06] jeffpereira opened #1271 "ARM Unable to call service_principals.list on Azure::GraphRbac client"
I am trying to connect to the Graph API to get a list of service principals with the code below and have been unsuccessful.

[code]

I keep getting a 401 response like below:

[code]

Using a debugger I was able to see the header being set properly in `gems/ms_rest-0.7.2/lib/ms_rest/credentials/token_credentials.rb` , but at the time of the request it does not seem to be there.

I also wanted to n

[2018-02-15 17:44] jeffpereira opened #1272 "ARM Unable to use filter argument when trying to list role assignments for AuthorizationManagementClient"
I am trying to connect to the auth management API and filter a list of role assignments by a principal ID, and the results are not filtered.

[code]

principalID in this case is being set to a string value of the principalId I am wanting to filter by.

Expected Behavior: Should only return role assignments with the principalId passed in the filter option

Actual Behavior: Returns ALL role assignme

[2018-02-20 18:59] sarangan12 commented on #1271
@jeffpereira Thanks for reporting this issue. This seems like a service related issue. I have contacted the respective team and working with them in resolving this issue. I will update the issue once I have more details.

@salameer @darshanhs90 @danieldobalian @jmprieur FYI.....

[2018-02-22 17:15] andresbarcenas opened #1274 "instance_view method is returning nil"
Hello,

Whenever I try to run client.virtual_machines.get('RG','VM NAME').instance_view I am always getting a nil. Is there anything else I need to do to get the Status of a Virtual Machine using this SDK?

[2018-02-23 17:34] jeffpereira commented on #1271
As an update to this ticket, I tried inserting the authentication header (with JWT) in manually as a custom header, and it was still removed before the request .

[2018-02-27 20:50] sarangan12 commented on #1272
I am waiting for response for Service Team. Will update the issue once the service team comes back,

[2018-02-27 21:00] sarangan12 commented on #1274
@andresbarcenas You could use instance_view api to get the details as:

[code]

[2018-02-27 22:20] jeffpereira commented on #1272
@sarangan12 I do not believe that this is a service related issue as I am able to perform filters just fine when calling the API directly.

[2018-02-27 22:36] jeffpereira commented on #1271
Another update on this ticket.  Aside from the token being stripped out there is an additional underlying issue.

I ran into a auth problem while using the same token generation mechanism for calling the Azure public API, and dug further into the issue.  The token is not being generated with the proper audience to authenticate against any calls to graph.windows.net.  While digging into the SDK a b

[2018-03-02 18:03] sarangan12 commented on #1274
I am closing this for now. Feel free to reopen it if you still have issues

[2018-03-02 18:03] #1274 closed

[2018-03-02 18:05] sarangan12 commented on #1093
@mcardosos is working on a system to automate samples. We are going to create a bigger task for automating samples once that system is ready. So, that makes this task obsolete. Closing this task

[2018-03-02 18:05] #1093 closed

[2018-03-03 20:10] andresbarcenas commented on #1274
@sarangan12  Thanks for getting back to me. How do I get the exact VM status from it? When I run what you gave me, it returns the following:

2.5.0 :118 > client.virtual_machines.instance_view('mdlqav2-rg','mdlqav2s2')
 => #<Azure::Compute::Mgmt::V2017_03_30::Models::VirtualMachineInstanceView:0x00007fe4a55757d8 @vm_agent=#<Azure::Compute::Mgmt::V2017_03_30::Models::VirtualMachineAgentInstanceView

[2018-03-19 21:41] salameer opened #1276 "Support MSI Authentication through IDMS"
@yugangw-msft , might be a good person to chat with to get some context here.

@sarangan12 can you please get some context on what's required on top of what you've already done for MSI?

[2018-03-23 20:37] sarangan12 opened #1278 "Swagger to SDK Completion"
Note: Need to speak with Shawn about the 'drops'

[2018-04-09 10:35] gavinkflam commented on #1153
@salameer @sarangan12

Hi Samer and Sarangan, any progress or roadmap for key vault APIs support?

In the meantime, how would you suggest to work on key vault certificates with the SDK? (list, create, delete, etc.)

[2018-04-11 17:28] yugangw-msft opened #1285 "msi/imds auth: retry on a few more error codes"
We are retrying on 429. MSI team recommends also retry on 404 and all 5xx’s.

[2018-04-11 17:29] yugangw-msft commented on #1285
//CC: @salameer  @sarangan12

[2018-04-11 21:28] djberg96 commented on #955
@veronicagg I've never seen anything on the Azure side. Their recommendation is to put related resources into the same resource group. To delete everything, just delete the resource group.

I suspect that isn't always going to be practical, though.

[2018-04-13 17:57] jeffpereira commented on #1271
Any status updates on this?  It has been over a month.

[2018-04-13 17:57] jeffpereira commented on #1272
Any updates?

[2018-04-16 19:49] sarangan12 commented on #1285
Related to https://github.com/Azure/azure-sdk-for-ruby/pull/1286

[2018-04-16 21:03] sarangan12 commented on #1285
Task completed and ms_rest_azure released.

[2018-04-16 21:03] #1285 closed

[2018-04-16 21:05] sarangan12 commented on #1276
This task has been completed and ms_rest_azure has been published. No more pending items for this task

[2018-04-16 21:05] #1276 closed

[2018-04-26 20:46] MaxHogervorst opened #1291 "Ratecard API now uses redirects"
Since last week we are getting errors pulling from the ratecard api. See example code below

`    #Create Client object
      @client = Azure::Commerce::Mgmt::V2015_06_01_preview::UsageManagementClient.new(credentials)
      @client.subscription_id = Rails.application.secrets[merchant.code]['ms_ad_subscription_id']
      @client.api_version = Rails.application.secrets[merchant.code]['ms_ad_api_ver

[2018-04-27 21:37] sarangan12 opened #1292 "Release Compute latest version to handle patch operations"
Release Compute latest version to handle patch operations

[2018-05-01 19:08] sarangan12 commented on #1272
@jeffpereira I have checked the HTTP logs and thes service response does not include the filtered details when called from the SDK. So, I still think this is a service related issue. I am waiting for the response from service team

[2018-05-04 19:39] sarangan12 opened #1295 "Media Services SDK generation failure for 2018-03-30-preview version"
One of the SDKs in Ruby is [azure_media_services](https://github.com/Azure/azure-sdk-for-ruby/tree/master/management/azure_mgmt_media_services). For this Service, we have 2 versions:

1. [2015-10-01](https://github.com/Azure/azure-sdk-for-ruby/tree/master/management/azure_mgmt_media_services/lib/2015-10-01/generated)
2. [2018-03-30-preview](https://github.com/Azure/azure-sdk-for-ruby/tree/master/m

[2018-05-04 19:48] sarangan12 opened #1296 "Bug in azure_mgmt_container_service SDK (2, among 3, versions)"
One of the SDKs in Ruby is [azure_mgmt_container_service](https://github.com/Azure/azure-sdk-for-ruby/tree/master/management/azure_mgmt_container_service). In this service, there are 3 versions:

- [2016-03-30](https://github.com/Azure/azure-sdk-for-ruby/tree/master/management/azure_mgmt_container_service/lib/2016-03-30)
- [2016-09-30](https://github.com/Azure/azure-sdk-for-ruby/tree/master/manage

[2018-05-04 20:02] sarangan12 commented on #1278
Task Completed

[2018-05-04 20:02] #1278 closed

[2018-05-04 20:31] sarangan12 opened #1297 "Reengineer SDK Generation to use multiapi tags"

[2018-05-04 20:32] sarangan12 opened #1298 "Restructure SDK Repository to make sure all configs to be put in one place"

[2018-05-07 07:19] sarangan12 opened #1299 "Release 2 SDKs after discussion with Samer"
SDKs to be Released:

1. SignalR - https://github.com/Azure/azure-rest-api-specs/tree/master/specification/signalr/resource-manager

2. EventGrid - Release preview version of 2018-05-01-preview.

@salameer FYI...

[2018-05-07 20:13] sarangan12 commented on #1295
Note: The code is generated correctly in @microsoft.azure/autorest-core@2.0.4275. The later versions are causing the failure

[2018-05-08 17:54] sarangan12 commented on #1299
This task has been completed. Refer PR: https://github.com/Azure/azure-sdk-for-ruby/pull/1300 for further details. Released SignalR gem and EventGrid gems and azure_sdk rollup gem:

1. https://rubygems.org/gems/azure_mgmt_event_grid
2. https://rubygems.org/gems/azure_mgmt_signalr
3. https://rubygems.org/gems/azure_sdk

[2018-05-08 17:55] sarangan12 commented on #1299
Closing this task

[2018-05-08 17:55] #1299 closed

[2018-05-08 22:10] sarangan12 commented on #1298
Task completed. https://github.com/Azure/azure-sdk-for-ruby/pull/1301

[2018-05-08 22:10] #1298 closed

[2018-05-09 07:43] sarangan12 commented on #1296
https://github.com/Azure/azure-sdk-for-ruby/pull/1303

[2018-05-09 07:51] sarangan12 commented on #1296
Task completed.

[2018-05-09 07:51] #1296 closed

[2018-05-09 18:01] sarangan12 commented on #1295
I am not able to reproduce this issue today. I have tried multiple scenarios and it is working fine. So, closing this task for now. If the issue happens again I will reopen the issue and work on it

[2018-05-09 18:01] #1295 closed

[2018-05-10 21:18] sarangan12 commented on #1292
Task completed. PR Merged. Link: https://github.com/Azure/azure-sdk-for-ruby/pull/1304

[2018-05-10 21:19] sarangan12 commented on #1292
Compute gem and azure_sdk rollup gems released

[2018-05-10 21:19] #1292 closed

[2018-05-10 22:18] sarangan12 opened #1305 "Release storage SDK"

[2018-05-16 03:06] MaxHogervorst commented on #1291
@sarangan12 any updates?

[2018-05-30 11:10] eosfor commented on #1152
Hello colleagues. Any updates on this. I did not find any references to this on a main page. Maybe i overlooked something?

[2018-05-31 20:43] ashishsachdeva opened #1339 "FileSystem::DataLakeStoreFileSystemManagementClient compatibility issue in latest azure_mgmt_datalake_store sdk release."
I was using sdk: azure_mgmt_datalake_store-0.5.0 which has the functionality DataLakeStoreFileSystemManagementClient to get the file system of ADLS.

now we want to upgrade to the lastest version of data lake store gem i.e. 0.16.0 but it looks like the file system management client is not supported in the latest version or any version after 0.5.0.

I want to know if there is any way to use file sy

[2018-06-01 21:21] arluca opened #1344 "Managed Identity/IMDS auth: Configurable retry time-out"
Currently, the retry logic in the Azure SDKs for Managed Identity token generation can make the current thread wait for as long as 15 minutes. For response time sensitive services this might not be acceptable. It could also result in service unavailability if all threads are blocked for a token to be generated when a sudden burst arrives after a cold start.
The developer may want to fast fail afte

[2018-06-04 21:25] sarangan12 opened #1347 "Release policyinsights service for Ruby SDK"

[2018-06-06 21:39] sarangan12 commented on #1347
Task completed

[2018-06-06 21:39] #1347 closed

[2018-06-12 18:13] veronicagg commented on #955
@djberg96 I understand, it's a good suggestion, we have not planned adding this feature soon, but will keep it in the backlog and update the issue if anything changes. If you'd like to contribute, feel free to open a PR - the change may require changes to the SDK generator https://github.com/Azure/autorest.ruby

[2018-06-14 16:40] yarick commented on #1153
Just checking when Sprint-112 is happening :-)

[2018-06-19 23:48] arluca commented on #1344
Any update on this?

[2018-06-19 23:50] arluca commented on #1344
@salameer : Not sure if you've seen this yet. :)

[2018-07-02 17:09] seandilda opened #1436 "azure_sdk missing dependency for azure_mgmt_signalr"
If you install the ```azure_sdk``` gem and don't manually install the ```azure_mgmt_singalr``` gem, you'll get the following exception when trying to ```require 'azure_sdk'```:
[code]

Downgrading to version 0.17.3 or manually installing the ```azure_mgmt_signalr``` gem fixes the problem.

[2018-07-02 18:10] seandilda opened #1437 "azure_sdk needs to require 'azure/version'"
When doing a ```require 'azure_sdk'```, it forgets to required ```azure/version```.  Without this, calling ```Azure::Profiles::Latest::Client.new``` will fail with:
[code]

For anyone running into this, you can workaround it by doing:
[code]

[2018-07-21 23:44] ankane opened #1503 "Configurable Timeouts"
Hi, is there a way to set open and read timeouts? I couldn't find one by looking at the code. https://github.com/Azure/azure-sdk-for-ruby/blob/9548bd8fdf29f9f826fc2fc4acc894fbea7f5c9b/runtime/ms_rest/lib/ms_rest/http_operation_request.rb#L71

[2018-08-01 20:52] sarangan12 commented on #1344
https://github.com/Azure/azure-sdk-for-ruby/pull/1539/

[2018-08-01 20:54] sarangan12 commented on #1344
An environment variable USER_DEFINED_IMDS_MAX_RETRY_TIME has been defined to enable the user to set a max time for retry. Task completed and released with the latest rumtime and versions.

[2018-08-01 21:59] arluca commented on #1344
Thank you! 👍🏽

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sarangan Rajamanickam <notifications@github.com>
Sent: Wednesday, August 1, 2018 1:54:05 PM
To: Azure/azure-sdk-for-ruby
Cc: Arturo Lucatero; Author
Subject: Re: [Azure/azure-sdk-for-ruby] Managed Identity/IMDS auth: Configurable retry time-out (#1344)

An environment variable USER_DEFINED_IMDS_MAX_RET

[2018-08-14 20:26] jeffpereira commented on #1272
any updates on this?

[2018-08-14 20:27] jeffpereira commented on #1271
has a fix for this been deployed yet?

[2018-08-16 22:54] #1344 closed

[2018-08-18 08:48] sarangan12 commented on #1437
@seandilda Thanks for reporting the issue. This has been fixed(https://github.com/Azure/azure-sdk-for-ruby/pull/1586) with the latest 0.18.1 version release of azure_sdk. Closing the issue

[2018-08-18 08:48] #1437 closed

[2018-08-18 08:49] sarangan12 commented on #1436
@seandilda Thanks for reporting the issue. This has been fixed with latest release of 0.18.1 version of azure_sdk (https://github.com/Azure/azure-sdk-for-ruby/pull/1586)

[2018-08-18 08:49] #1436 closed

[2018-08-20 13:38] aheumaier opened #1587 "Avoid to trigger "loading in progress, circular require considered harmful" messages"
[code]
( [FullDump](https://gist.github.com/aheumaier/a2eb0fddec32e64ce20cb9eaf74cd3f3) )

[2018-08-29 21:46] zanecodes opened #1606 "MsRest::TokenProvider does not pick token_audience dynamically"
Currently the only way to authenticate to KeyVault (using a Managed Service Identity, for example) is to use some code like the following:

[code]

The user must construct an `MsRestAzure::ActiveDirectoryServiceSettings` object themselves, and set the `token_audience` to the appropriate resource URL, which they must find out depending on the service they are calling (KeyVault, in this case).

It w

[2018-08-31 18:44] akostadinov opened #1614 "no `#disks` method in Compute API V2018_06_01"
In V2018_04_01 the `#disks` method exists and allows management or managed disks. In V2018_06_01 such method is missing and I can't figure out a way to delete/list/whaterver the managed disks.

[2018-08-31 18:49] akostadinov opened #1615 "V2018_04_01 lacks VirtualMachine#resource_group method"
In the 0.11 API there was a method `VirtualMachine#resource_group`, now there isn't. I think it is appropriate for one to get that information. So please bring it back.

[2018-08-31 19:36] akostadinov opened #1616 "network api NetworkSecurityGroup#name is nil"
Hi, I'm obtaining instance security group. `#name` is always `nil`.

[code]
The result is always `nil` whether or not `security_group` exists or not.

Same with Subnet:
[code]

I need to parse out the name from the `#id` string.

[2018-09-10 20:52] sarangan12 commented on #1616
This is a service related issue. The service returns nil value. I have notified the service team and the Network label has been added. I will follow up with them and update this issue soon.

[2018-09-10 21:04] sarangan12 commented on #1615
@akostadinov Thanks for reporting this. I will add this as a feature request and will release it soon. I will provide the update in this issue. Thanks

[2018-09-11 12:08] akostadinov commented on #1614
I basically expect that the latest API version would have all the features and provide most recommended approach to work with the possible resource types.
I'm presently using the older API version so I guess I don't care unless it becomes deprecated or I need to use newer version because of some other changes/fixes.

It will be IMO ugly to mix different API versions in same program. Also it is app

[2018-09-13 00:37] salameer commented on #586
This is not a service team issue, removing the ARM tag, this will get routed to the ARM team for attention

[2018-09-14 22:56] sarangan12 commented on #1615
The latest release https://rubygems.org/gems/azure_mgmt_compute/versions/0.18.1 has this feature enabled. Feel free to reopen the issue if the issue still exists.

Related PR: https://github.com/Azure/autorest.ruby/pull/33

FYI... @veronicagg @salameer

[2018-09-14 22:56] #1615 closed

[2018-09-17 20:30] veronicagg opened #1648 "Ruby job for new RPs in azure-rest-api-specs repo fails"
When a new Resource Provider is created in the azure-rest-api-specs repo, SDK generation jobs for Ruby fail because our Rakefile tries to find a gem folder that doesn't exist.
Case 1:
INFO:swaggertosdk.autorest_tools:running: bundle exec ruby /tmp/tmp2df4xvw9/sdk/generators/requirefilegen/src/require_file_generator.rb --mode=rollup --sdk_path=/tmp/tmp2df4xvw9/sdk --gem_name=azure_sdk
INFO:swaggert

[2018-09-17 21:33] anuchandy commented on #1648
For case 2: the PR is https://github.com/Azure/azure-rest-api-specs/pull/3885

If we go to CI https://travis-ci.org/Azure/azure-rest-api-specs/builds/429648122?utm_source=github_status&utm_medium=notification it is showing "azure-sdk-for-java" generation failed and in detailed view https://travis-ci.org/Azure/azure-rest-api-specs/jobs/429648131#L687 we can see that failure is due to `bundle instal

[2018-09-18 22:20] dsboulder opened #1658 "Support for Service Principal Certificate authentication"
Hi folks!  We're trying to use ADFS authentication with this SDK, and I noticed that the ms-rest-azure component only seems to support authentication with client secrets, and not with certificates. I tried authing by passing the cert value (both private key and cert concatenated, which is what the CLI gives you when you run `az ad sp --create-cert`) in as the :client_secret, but it didn't work.  I

[2018-09-20 18:40] djberg96 commented on #849
Any more thoughts on this?

[2018-10-08 17:44] sjyang18 opened #1729 "With a managed service identity and MsRest::TokenCredentials, Ruby SDK failed to pass the proper token to Azure key vault service to get secrets out of it."
In the same environment, Ruby SDK failed to get access to secrets on azure keyvault thru the managed service identity attached to VM, while the similar code in python SDK does.

To reproduce this issue,
1. Create a VM and attach a managed service identity.
2. Set AZURE_SUBSCRIPTION_ID, AZURE_TENANT_ID, KEY_VAULT_URI environment variable.
3. Run the following code snippet or attached code. I have a

[2018-10-08 20:03] djberg96 commented on #850
@veronicagg Has this been updated? I know you can at least get *some* of the endpoints by using submitting a request to `some_url/metadata/endpoints`.

[2018-10-20 08:48] pritam97 opened #1779 "Virtual Network Service Endpoints for Azure CosmosDB"
Please add the ability to set Virtual Network Service Endpoints for Azure CosmosDB, in addition to the ip_range_filter

also to be able to configure it as a resource (external to the cosmos_db_account)

https://azure.microsoft.com/en-us/blog/virtual-network-service-endpoints-for-azure-cosmos-db-is-now-generally-available/

New or Affected Resource(s)
azurerm_cosmos_db_account

[2018-10-22 20:33] #1297 closed

[2018-10-22 20:41] sarangan12 commented on #1153
@yarick @gavinkflam We have released the Key Vault Data Plane SDK. Link: https://github.com/Azure/azure-sdk-for-ruby/tree/master/data/azure_key_vault & https://rubygems.org/gems/azure_key_vault.

This SDK has operations such as get, create, update, get_keys, etc. As there are no more work items on this issue, I am resolving this issue. If you have any more questions, feel free to reopen the issue.

[2018-10-22 20:41] #1153 closed

[2018-10-22 21:28] sarangan12 commented on #1779
@pritam97 Thanks for reporting the issue. It would be greatly helpful if you could provide a little more context on this issue.

I assume you are asking about the Azure Cosmos DB service. Currently, We do not have a Ruby SDK for Azure Cosmos DB service. So, I am little confused about " in addition to the ip_range_filter". Could you please explain more? Do you want the Ruby SDK for Azure Cosmos DB?

[2018-11-05 16:36] shawns1 opened #1861 "CI Failing due to missing script"
Many of the branches are behind master like restapi_auto_cost-management/resource-manager.  That is causing CI to fail and not create a drop for Ruby.  The script scripts/pr_build_drop_publisher.rb needs to be in any branch that we run a PR against and generate and SDK drop.

[2018-11-10 00:53] #610 closed

[2018-11-20 10:51] Quasilyte opened #1936 "License file is missing"
This repository misses the license file.
The severity of that varies from project to project, but my goal here is to attract some attention.

If it's not a problem, this issue can be closed.

I'm leaving it here just in case: https://help.github.com/articles/adding-a-license-to-a-repository/.

Thanks.

[2018-11-29 10:40] stiller-leser opened #1968 "azure_mgmt_network 0.18.1 uses old versions of NetworkInterfaces and PublicIpAddresses"
Hi,

it seems that the latest release of azure_mgmt_network 0.18.1, created after https://github.com/Azure/azure-sdk-for-ruby/pull/1960 reverted the modules PublicIpAddresses and NetworkInterfaces to the old version V2017_03_30. In https://github.com/Azure/azure-sdk-for-ruby/pull/1868 (8ce01eea408a231fa1e00d20417eee3327e8459f) it still uses the newer version V2018_08_01.

Any reason those two modu

[2018-12-03 17:37] tjl2 commented on #1968
Just adding a "me too" that this 0.18.1 update broke an app of mine when my bundle picked up the change in version. I've had to pin at 0.18.0 for now.

[2018-12-04 04:37] SimonKaluza commented on #1243
I've experienced a burst of these timeouts during VM create operations using the Azure ARM API... They happen intermittently even on VM nodes -- is there anyway to work around them?  I'm experimenting with increasing my Faraday timeouts to absurdly high numbers, but many of these requests seem to be hanging indefinitely after doing that.

[2018-12-06 18:54] tas50 opened #2060 "This gem is getting very large"
With each new release of the API this gem is getting increasingly large. It's currently 45.7MB on disk with 5,200 files. Each API release adds over 4 megs and 500 more files that are generally nearly identical to the previous release. Bundling entirely new files for each API release doesn't seem like a scalable solution for those that bundle this library in packages.

[2018-12-10 16:51] stiller-leser commented on #1968
@sarangan12 mentioning you here, since you seem to be the author of #1960 - if not, my apologies. Would be good to know if this was on purpose. If so I keep pinning, if not it would be great if that could get fixed.

[2018-12-11 23:40] cryonex commented on #1271
@jeffpereira I just ran into this same issue today.  I was able to get it working based on your previous example.  You're correct that it doesn't use the correct token audience and auth endpoint by default (which is definitely a flaw IMO).  In the current version, the correct auth headers seem to be preserved.  Maybe that was fixed sometime in the past 10 months.

Here is what worked for me:

[cod

[2018-12-13 08:57] miha-plesko opened #2079 "azure_mgmt_monitor lacking some profiles"
A bunch of providers e.g. azure_mgmt_compute and azure_mgmt_resources are supporting the three profile clients:

- `V2017_03_09`
- `V2018_03_01`
- `Latest`

while azure_mgmt_monitor only supports

- `Latest`

It would be great if azure_mgmt_monitor would also support the `V2017_03_09` and `V2018_03_01` profile clients. This way we could use it consistently like this:

[code]

[2018-12-14 23:37] sarangan12 commented on #1968
@stiller-leser @tjl2 Thanks for the issue. Yes. This is a bug. I have fixed it and released a azure_mgmt_network - v0.18.2 - https://rubygems.org/gems/azure_mgmt_network/versions/0.18.2 & azure_sdk - v0.19.7 - https://rubygems.org/gems/azure_sdk to fix it.

[2018-12-17 18:02] sarangan12 commented on #2079
@miha-plesko Thanks for reporting this. But, the profiles are not created for that purpose. The only profile that will be in all SDKs is ```Latest``` profile. The other 2 profiles are created based on specific request from an internal customer. So, they are not included in other SDKs.

No more action items on this issue. Resolving it for now.

[2018-12-17 18:02] #2079 closed

[2018-12-17 18:09] sarangan12 commented on #1936
@Quasilyte Thanks for reporting this issue. Added a License file to the repository now,

No pending action items for this issue. Resolving it now.

[2018-12-17 18:09] #1936 closed

[2018-12-17 18:14] sarangan12 commented on #2060
@tas50 Thanks for reporting this issue. I would like to get some more information on this issue.

To give you a background, we have several individual gems (such as azure_mgmt_compute, azure_mgmt_network, etc.) and we have one rollup gem (azure_sdk) which combines all management gems and data plane gems.

The rollup gem is massive because it includes all management & data gems along with their mul

[2018-12-17 18:17] sarangan12 commented on #986
With the recent changes and discussions with @shahabhijeet The LRO operations logic have been modified and now consistent with all other language SDKs.

Link to LRO Logic: https://github.com/Azure/adx-documentation-pr/blob/master/sdks/LRO/LRO_AzureSDK.md

@salameer @veronicagg FYI...

[2018-12-17 18:17] #986 closed

[2018-12-17 22:48] sarangan12 commented on #1861
All existing branches deleted. Latest branch recreated from master. This issue is resolved. Closing it now

[2018-12-17 22:53] sarangan12 commented on #1096
@xiaomi7732 Thanks for reporting this issue. The azure gem is currently in maintenance mode and we are releasing only the azure_sdk gem.

We will soon add this functionality to azure_sdk gem. But, this will not be added to azure gem itself.

No pending action items on this issue. Resolving it now.

[2018-12-17 22:53] #1096 closed

[2019-01-02 19:30] sarangan12 commented on #2060
@tas50 Since the past 15 days was holiday time, I want to start the conversation once again. Please share your thoughts on the above comment.

[2019-01-04 15:05] viral1981 commented on #1271
Hi @cryonex
Using your above example I have an issue where I keep getting
`**/rubies/ruby-2.5.1/lib/ruby/gems/2.5.0/gems/azure_graph_rbac-0.17.0/lib/1.6/generated/azure_graph_rbac/service_principals.rb:160:in `list_async': @client.tenant_id is nil (ArgumentError)**`

Have you seen this issue before?

[2019-01-04 17:46] cryonex commented on #1271
@viral1981 Oh right, I forgot that I patched the gem locally as well.  You'll need to patch `gems/azure_graph_rbac-0.17.0/lib/profiles/latest/modules/graphrbac_profile_module.rb` with the following:

[code]

[2019-01-14 19:45] sarangan12 commented on #2060
@tas50 A gentle remainder to share your thoughts.

[2019-01-16 01:35] tas50 commented on #2060
@sarangan12 Sorry for the late response. I went right from the holidays to our company's yearly all hands. I might be missing something here so feel free to correct what I'm doing. We depend on the individual gems, but azure_mgmt_network is very large. The 0.18.2 version of that gem is 45+ megs on disk as it includes 18 different API versions. Is there a different gem we could use that wouldn't in

[2019-01-17 22:07] zanecodes opened #2163 "`MsRestAzure::MSITokenProvider` doesn't support (undocumented!) `bypass_cache` query parameter"
When using groups to organize permissions for Managed Service Identities, the identity must be added to the group after it is created (since this cannot be done in an ARM template).
If any code (say, in Chef) accesses the MSI endpoint to get a bearer token before the identity has been added to the appropriate group(s), the IMDS endpoint will cache this token (which contains no group object ids) fo

[2019-01-30 23:32] josh-barker commented on #1658
I also need the same functionality.

Are there plans to support it?

[2019-01-31 00:11] arluca opened #2192 "Managed Identity: Configurable timeout based on time"
Currently, the retry logic in the Azure SDKs for Managed Identity token generation supports a configurable time out based on counts. For response time sensitive services this has not been enough. Per customer feedback, they would like to have timeout configuration based on time (i.e. milliseconds)
This will allow for quicker fail after certain.
Can we make the retry max configurable based on time?

[2019-02-12 00:20] jsmartt opened #2220 "Models: Allow options to be passed as hash in initializer"
Initializing new instances of models is a bit of a pain right now without the option to pass any attributes at initialization time. Using `#tap` to set attributes as shown in the docs is pretty uncommon in the Ruby world.

#### Step 1
I propose adding an initializer with the ability to receive attributes.
For example, all models could include something like:

[code]

Result:
[code]
This allows thi

[2019-02-12 21:39] fdr opened #2229 "RunCommandResult is broken for RunShellScript in the last two client versions"
Here's a demonstration snippet, with output at the bottom. Note how the output of `V2017_12_01` is useful, and all subsequent versions only have a `nil` in the newly introduced `value` field.

[code]

[2019-02-17 08:27] fdr opened #2239 "Confusing documentation link cycle from Readme"
I'm trying to find API (e.g. YARD) documentation. I note it is able to be generated in the Readme, but I just want look up a few things without a local copy. I figure if it can be generated, it must be on the web (accurate, but I had to use a search engine to find it).

Details:

I'm at https://github.com/Azure/azure-sdk-for-ruby.

What I want is in the "Compute" gem, so I click on that, it naviga

[2019-02-20 19:43] pparamalingam opened #2251 "Azure Network Operations List method is failing due to no api-version being passed"
Azure::Network::Mgmt::V2018_11_01::Operations list() fails to query as it complains that the REST API needs api-version passed

[2019-03-08 15:05] pparamalingam opened #2297 "Add Microsoft Azure Advisor as a GEM (azure_mgmt_advisor)"
The Azure Advisor API is missing for the ruby SDK
https://docs.microsoft.com/en-us/rest/api/advisor/

It exists for Python SDK
https://github.com/Azure/azure-sdk-for-python/tree/master/azure-mgmt-advisor

[2019-03-12 21:59] sarangan12 opened #2316 "Network RP: Returning empty string for nextLink"
In the “2018-12-01” version of Network RP, while accessing the Path “/providers/Microsoft.Network/operations” (Get Operation) [Link](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/operation.json#L37), the value of the nextLink, sent by the service, is empty string.

Per the ARM recommendation, this is incorrect.

[2019-03-22 19:06] lbalceda opened #2357 "401 (40103) from SharedAccessSigner on Servicebus usage with SAS"
Hello, I'm trying to access ServiceBus topic given a SAS token, but keep getting 401 errors.

I was able to use postman/curl to successfully get messages back so the token is definitely correct/working, and just wanted to double check my configuration.

The key looks like this
[code]
so from the token you can see the topic is `testChange`, the namespace is `myServiceBus` and keyname is `someKeyNam

[2019-03-27 03:55] arluca commented on #2192
@binderjoe any update on this one?

[2019-04-03 05:28] jlorich opened #2381 "CLI Token Provider support"
The .NET package for MSI authentication within App Services includes a default fallback to retrieve an Azure CLI access token if no Managed Service Identity is available.  This is useful as now no keys need to be used at all both in dev and production.  CLI context is used locally and MSI context when deployed.

It would be beneficial to add a CLITokenProvider class that sets all necessary options

[2019-04-05 18:45] tbugfinder opened #2387 "require azure_sdk 0.22 fails in containerservice_profile_module.rb"
Hello,

if azure_sdk (latest or version 0.22) is rquired within my test ruby file it fails on executing it due to the following error:
[code]

My ruby-test:
[code]

[2019-04-12 22:25] jlorich opened #2396 "Invalid method in the KeyVaultClient"
`first_page = get_keys_as_lazy_as_lazy(vault_base_url, maxresults:maxresults, custom_headers:custom_headers)`

This seems to be an auto generation error, there is no method called get_keys_as_lazy_as_lazy and calling get_keys throws an exception.

[2019-04-14 22:02] jlorich opened #2400 "Implement a unified token provider with fallback"
Implement a token provider similar to the [AzureServiceTokenProvider](https://github.com/Azure/azure-sdk-for-net/blob/40248f466aa063bd90f16dae10d06b9b7317e2d0/src/SdkCommon/AppAuthentication/Azure.Services.AppAuthentication/AzureServiceTokenProvider.cs) for dotnet, which handles determining which token token provider is appropriate to use.

This provider should check through the following options,

[2019-04-15 19:18] jlorich commented on #2396
For the record, I have a fairly large customer attempting to use this and it does not work.

[2019-04-18 22:42] pavankanth6 commented on #2239
I second @fdr 's problem. The cyclical flow of information is very difficult to achieve progress in integrating with Azure REST API.

[2019-04-18 22:51] pavankanth6 opened #2409 "Unable to create a CNAME entry with azure_mgmt_dns gem"
I followed the example posted by @veronicagg (reference: https://azure.microsoft.com/en-us/resources/samples/dns-ruby-zones-and-recordsets/) and came up with a script of my own to create a CNAME record creation (where as the article gives an example of A Record creation).

But after the execution of the code, the CNAME record is created without the alias within the DNS Zone. The problem looks like

[2019-04-29 22:40] sarangan12 commented on #2409
@pavankanth6 The sample that you are referring is really old version. Please use the following code to create the CNAME.

**File Name: cdn_sample_options_parser.rb**
[code]

**File Name: cdn_sample.rb**
[code]

***Gemfile***
[code]

***Steps To Execute***
1. Run a bundle install
[code]
2. Set the environment variables:
      a. AZURE_SUBSCRIPTION_ID
      b. AZURE_TENANT_ID
      c. AZURE_CLIENT_I

[2019-04-30 04:22] pavankanth6 commented on #2409
@sarangan12 Thank you so much for replying to the issue that I posted. Your program along with the latest version of the GEM works and now able to create CNAME records with all the necessary info.

[2019-04-30 04:22] #2409 closed

[2019-05-06 15:07] djberg96 commented on #849
Seems to be dead, closing.

[2019-05-06 15:07] #849 closed

[2019-05-06 15:08] djberg96 commented on #850
I guess @stuartpreston's solution will have to do! Closing...

[2019-05-06 15:08] #850 closed

[2019-05-06 15:09] djberg96 commented on #955
Doesn't seem to be much interest, and I'm not really working on this much any more, so closing.

[2019-05-06 15:09] #955 closed

[2019-05-15 10:15] gerardogonzgonz opened #2458 "MsRest::DeserializationError on retrieving billing list"
Greetings!

I am using 'azure_mgmt_billing' and I am getting the following error at Billing list deserialization:

`ERROR - {
  "exception_message": "{\n  \"exception_message\": null,\n  \"message\": \"Error occured in deserializing the response_body\",\n  \"stacktrace\": null,\n  \"result\": \"2019-04-20\"\n}",
  "message": "Error occurred in deserializing the response",
  "stacktrace": [
    "/o

[2019-05-16 13:56] gerardogonzgonz commented on #2458
Greetings!

After further investigation, my companions at work realized we had a problem with our "Gemfile.lock" file (dependency problems)

I put here our fix just in case it helps other people in the future and close the issue.

Thank you very much!

GEM
  remote: https://rubygems.org/
  specs:
    activesupport (5.1.4)
      concurrent-ruby (~> 1.0, >= 1.0.2)
      i18n (~> 0.7)
      minitest

[2019-05-16 13:56] #2458 closed

[2019-05-17 16:38] stefangordon commented on #1271
@sarangan12 is this really still non-functional without editing the graphrbac module? Is there some other way to use this client that I am missing?

[2019-05-21 04:34] logachev opened #2462 "SDK needs to handle token refresh for long running operations"
I was trying to deploy AKS cluster via Ruby SDK today and I hit '401 Not Authorized: Token expired' error while SDK poller was querying for the operation result.

SDK Long Running Operation Poller needs to handle this error & query a new token.

[2019-05-21 22:20] arluca commented on #2192
@binderjoe any update on this one?

[2019-05-23 21:30] sijuman commented on #903
Is this still needed? @veronicagg

[2019-05-23 23:43] veronicagg commented on #903
@mozehgir not sure why this was labeled with "Azure Stack" or "Service Attention", this is an SDK generation engineering task.
@sijuman actually @sarangan12 is curently working on items to fully automate code generation, so this may get included as part of that. @sijuman may I know the reason for your question? thanks!

[2019-05-24 18:54] mozehgir commented on #903
@veronicagg : seems like it was incorrectly tagged. Not a customer issue.

[2019-05-24 19:45] sijuman commented on #903
@veronicagg Reason for my question is that I am doing GitHub Azure Stack cleanup and wanted to see what this was in relation to.

[2019-05-24 22:02] veronicagg commented on #903
@sijuman ok, I think we answered the question since I removed the label. thanks!

[2019-05-28 11:44] aheumaier opened #2499 "UsageDetail attribute pretax_cost has wrong type."
In Module[ Azure::Consumption::Mgmt the class UsageDetail](https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_consumption/lib/2018-06-30/generated/azure_mgmt_consumption/models/usage_detail.rb)  uses an _Integer class_ for attribute :pretax_cost. This results in values of 0  - while  most of the values are in the form _Float_ as 0.0005.
This field has to be a float for a

[2019-05-29 08:13] #1503 closed

[2019-05-31 22:42] jfggdl commented on #447
@mydiemho, unfortunately, this issue was not seen earlier. I will close this issue, but feel free to reopen it if you still are interested in a resolution as this issue is almost 3 years old.

[2019-05-31 22:42] #447 closed

[2019-06-07 22:25] yugangw-msft commented on #2192
This is done. Ruby Runtime has exposed an env variable `USER_DEFINED_IMDS_MAX_RETRY_TIME` for this

//CC: @sarangan12

[2019-06-07 22:25] #2192 closed

[2019-06-16 03:54] ismardantas opened #2626 "how to use Jobs e Task on Batch"
How can I make requests for Jobs, Tasks and ComputeNode?

[code]

[2019-06-18 22:45] #2626 closed

[2019-07-03 05:33] sarangan12 commented on #2387
@tbugfinder Thanks for reporting this issue. The issue has been fixed with the latest release https://rubygems.org/gems/azure_sdk/versions/0.27.1.

If the issue still exists, feel free to reopen the issue. Thanks

[2019-07-03 05:33] #2387 closed

[2019-07-11 21:59] #2381 closed

[2019-07-24 00:18] v-jaswel opened #2704 "Calling Azure::CognitiveServices::Autosuggest::V1_0::AutosuggestClient.auto_suggest raises exception"
- **Package Name**: https://github.com/Azure/azure-sdk-for-ruby/tree/master/data/azure_cognitiveservices_customsearch
- **Package Version**: 0.17.1
- **Operating system**: Windows 10 Enterprise 1803
- **Ruby version**: ruby 2.6.3p62 (2019-04-16 revision 67580) [x64-mingw32]

**Describe the bug**
Calling Azure::CognitiveServices::Autosuggest::V1_0::AutosuggestClient.auto_suggest raises an exception

[2019-07-24 02:04] MyronFanQiu commented on #2704
@v-jaswel Hello. Thanks for opening this issue. I will check this issue.

[2019-07-25 06:41] MyronFanQiu commented on #2704
@v-jaswel Hello. I'm not sure whether I can get the Bing Autosuggest subscription key or not. I cannot debug the code for now. I checked the stack trace and checked the code. It seems that the value `model_name` is empty in the `"C:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/ms_rest_azure-0.11.1/lib/ms_rest_azure/serialization.rb:37:in rescue in get_model`. Could you help me debug to confirm the value of

[2019-07-29 16:17] jsmartt opened #2706 "Can't get operational insights workspace search results"
I'm trying to use the Ruby SDK to get performance metrics (CPU & memory utilization) from an AKS cluster's OMS workspace, similar to what is shown in the Monitoring -> Insights tab in the Azure GUI.

However, even the most basic of query (which works on the GUI's log query form) returns an error like the following:

[code]

Here's the code:

[code]

A [410 response](https://developer.mozilla.org/e

[2019-07-30 04:58] tbugfinder opened #2707 "releases in GitHub differ from rubygems release version"
Hello,

it looks like the releases on Github https://github.com/Azure/azure-sdk-for-ruby/releases differ from the releases available on rubygems.

According to the GitHub releases azure-sdk 0.22 is latest. Looking at rubygems it's 0.31.
https://rubygems.org/gems/azure_sdk

It just confuses me :-)

Thanks & Best

[2019-07-30 05:13] MyronFanQiu commented on #2707
@tbugfinder Hi. The latest one is 0.31 at rubygems.

[2019-07-30 05:20] tbugfinder commented on #2387
@sarangan12 I've run the same tests using azure_sdk 0.31. It failed with:

[code]

[2019-07-30 05:23] tbugfinder opened #2708 "require azure_sdk 0.31 fails in network_profile_module.rb"
Hello,

if azure_sdk (latest or version 0.31) is rquired within my test ruby file it fails on executing it due to the following error:
[code]

My ruby-test:
[code]

There was a similar issue solved in #2387.

[2019-07-30 05:29] tbugfinder commented on #2387
Above error is also reported using 0.27.1.

[2019-07-30 05:33] tbugfinder commented on #2239
I second that, too.

The documentation is a cycle and most importantly a API reference documentation comparable to the python documentation would be really appreciated.

https://docs.microsoft.com/en-us/python/api/overview/azure/?view=azure-python

[2019-07-30 05:53] MyronFanQiu commented on #2708
Hello. It seems that you are using azure-sdk-28.0

[2019-07-30 05:54] MyronFanQiu commented on #2708
There may be some breaking change happened in the azure_mgmt_network. The `EndpointService` has been removed. While, you install the new version of azure_mgmt_network.

[2019-07-31 11:27] tbugfinder commented on #2708
I cleaned up my vendor directory and Gembile.lock.
Now the installation fails with:
[code]

[2019-07-31 11:30] tbugfinder commented on #2707
I understand, however the github page **https://github.com/Azure/azure-sdk-for-ruby/releases** doesn't refer to that at all.
If that one isn't used or applicable, how about removing it?

[2019-08-01 01:15] MyronFanQiu commented on #2706
@jsmartt Thanks. I will contact the service team to see whether I should release new Ruby SDK containing new API-Version.

[2019-08-06 02:40] MyronFanQiu commented on #2708
sorry for the delay due to quite low bandwidth. Usually it's env problem. The `azure_sdk` will require `azure_mgmt_cosmosdb` 0.18.0. My suggestion is to use rvm.

[2019-08-06 15:14] tbugfinder commented on #2708
my assumption is that `require 'azure_sdk'` will get whatever is required.

It failed for 0.31.1 but it loaded all required packages for a previous version.

[2019-08-06 15:16] tbugfinder commented on #2708
I'm using rbenv & bundler.

[2019-08-06 15:28] tbugfinder commented on #2708
`azure_mgmt_cosmosdb` 0.18.0 isn't available yet on rubygems.org.
https://rubygems.org/gems/azure_mgmt_cosmosdb

[2019-08-07 01:16] MyronFanQiu commented on #2708
@tbugfinder Thanks. I will fix this one.

[2019-08-13 19:31] anatol commented on #2708
I see the same dependency issue. There is no `azure_mgmt_cosmosdb (~> 0.18.0)` at rubygems.

[2019-08-14 01:28] MyronFanQiu commented on #2708
Hello. I will temporarily decrease the dependency version. The previous maintainer used his own key to upload the azure_mgmt_cosmodb 0.17.0 so that I cannot upload the 0.18.0. I'm discussing with him. I will make a workaround today.

[2019-08-17 17:26] anatol commented on #2708
It is still broken. `azure_sdk` depends on `azure_mgmt_policy ~> 0.17.5`. But rubygems has `0.17.4` only.

Please change the dependency requirement to `azure_mgmt_policy ~> 0.17.4`.

[2019-08-19 08:22] MyronFanQiu commented on #2708
@anatol truly thanks. Fixed https://rubygems.org/gems/azure_mgmt_policy/versions/0.17.5. I have talked with previous owner and he has transferred the ownership to the Azure account. I will fix the issue about cosmosdb in the next version.

[2019-09-05 12:59] phillipleblanc commented on #1658
For anyone else wondering how to do this, you can achieve this scenario by using the Active Directory Authentication Library (ADAL) for Ruby, getting a token using a certificate and then passing that token into the Azure KeyVault client. Here is a sample I got working.

_Note_ I am using the ADAL fork from xamarin, as it fixes an issue that I was facing in the main library: https://github.com/xama

[2019-09-05 15:46] seanmck commented on #2706
Swapping labels since this is the Ops Insights API (even though the data is generated from AKS).

[2019-09-24 11:09] maham-nazir-confiz opened #2716 "Unable to Add Traffic Manager Endpoint with Traffic Manager Profile"
Hi, I'm trying to create a `Traffic Manager Profile` that also has a `Traffic Manager Endpoint` included in it. However, my SDK requests fails with the following error

[code]

This is my request body
[code]

This is the request body created by the SDK

[code]

As seen, the `name` and `type` attribute of the `endpoint` are not added in the body even though I included them in my parameters. I check

[2019-09-24 23:17] sfiguemsft commented on #2716
@rohinkoul can you look into this please?

[2019-09-24 23:54] rohinkoul commented on #2716
@sfiguemsft looks like an SDK bug.

[2019-09-25 02:06] MyronFanQiu commented on #2716
@rohinkoul Based on [swagger](https://github.com/Azure/azure-rest-api-specs/blob/e0ee56c9ef0293d4d43a07e3fb7685e0e479cf1d/specification/trafficmanager/resource-manager/Microsoft.Network/stable/2018-04-01/trafficmanager.json#L1460), the name and the id are set to `read_only=true`. There is a [rule](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-13) that read o

[2019-09-25 03:49] maham-nazir-confiz commented on #2716
@MyronFanQiu I would like to add some more information.

This situation only happens in the case when I am trying to create a TM Profile with an Endpoint included. If I create it without an Endpoint, it works. Also if I create only an Endpoint object, then I am able to do that as well. It only doesn't work in case of creating a TM Profile with an Endpoint included.

Also this `read_only: true` cha

[2019-09-27 01:21] MyronFanQiu commented on #2716
@rohinkoul Hello. Any thoughts?

[2019-10-01 04:25] maham-nazir-confiz commented on #2716
@MyronFanQiu  @rohinkoul
Do you guys have any update on this? Please let me know. Thank you.

[2019-10-08 08:45] maham-nazir-confiz commented on #2716
@MyronFanQiu
I am working on upgrading a library that uses Azure SDK and I am blocked by this. Please let me know how this issue can be resolved. Thanks.

[2019-10-08 10:28] MyronFanQiu commented on #2716
@maham-nazir-confiz Hello. From Ruby SDK perspective, it is by design that user cannot set read_only field. It's not a bug. In my opinion, the swagger should be changed. I have sent an email to @rohinkoul and we should have a good discussion about this issue.

[2019-10-08 11:08] maham-nazir-confiz commented on #2716
@MyronFanQiu
I am able to set the `read_only` fields when I am trying to create a TM Endpoint only.

This is only happening when creating/updating a TM Endpoint inside a TM Profile as I have shown in the example above.

Is there another way to create a TM Endpoint with a TM Profile?

[2019-10-08 11:25] MyronFanQiu commented on #2716
@maham-nazir-confiz Hello, Which `read_only` field you can set to create a TM Endpoint?  Let me do some investigations about that.
One workaround might be that you could try to use azure-mgmt-resource to send an ARM template to create the Endpoint with TM Profile.

[2019-10-08 11:39] maham-nazir-confiz commented on #2716
The `name` and `type` attributes for a TM Endpoint.
Try creating a TM Endpoint and add values for both the `name` and the `type` attributes.
These are marked `read_only`. Reference [Link](https://github.com/Azure/azure-sdk-for-ruby/blob/a6d67518a874f55684a8a46eab68219a0107288a/management/azure_mgmt_traffic_manager/lib/2018-04-01/generated/azure_mgmt_traffic_manager/models/endpoint.rb#L94)

[2019-10-08 12:12] MyronFanQiu commented on #2716
@maham-nazir-confiz  Are you able to set these two fields? There is a comment https://github.com/Azure/azure-sdk-for-ruby/blob/a6d67518a874f55684a8a46eab68219a0107288a/management/azure_mgmt_traffic_manager/lib/2018-04-01/generated/azure_mgmt_traffic_manager/models/endpoint.rb#L74.
Based on my knowledge, you can set these fields.
https://github.com/Azure/azure-sdk-for-ruby/blob/a6d67518a874f55684a8

[2019-10-08 12:13] MyronFanQiu commented on #2716
@maham-nazir-confiz For the endpoint creation, the server exposes the type and the name as two independent parameters.

[2019-10-08 12:46] maham-nazir-confiz commented on #2716
@MyronFanQiu
I will try the code again and get back to you.

[code]

Can you please elaborate on this?

Thanks.

[2019-10-09 03:08] maham-nazir-confiz commented on #2716
@MyronFanQiu
Yes you're right. I am indeed setting the `name` and `type` via the function parameters not as part of the request body.

However, these attributes were exposed before in SDK version 0.9.0.

So now is there no way to create a TM Endpoint along with a TM Profile? Do I need to create an Endpoint separately now?

[2019-10-14 06:48] MyronFanQiu commented on #2716
@sfiguemsft Hello. Could you give some thoughts about this issue? @maham-nazir-confiz Sorry for delay. We are quite busy recently.

[2019-10-14 12:09] maham-nazir-confiz commented on #2716
@MyronFanQiu

This is also affecting the update of a TM Profile. If I update it without the TM Endpoints included, it just removes all the endpoints already added to it. If I add a TM Endpoint object (obtained via GET call), and use that in the request body, I am still getting the main issue.

[2019-10-14 14:58] sfiguemsft commented on #2716
the update will always require the other configuration details to be included too ( this is not specific to TM ) , as swagger this needs @rohinkoul input

[2019-10-17 07:29] darinkes opened #2719 "How to upload a Page Blob and create an image?"
Hey,

I want to replicate my Powershell commands in a ruby script so it can be used on our BSD-Machines.
But I'm struggeling to find the matching ruby-classes and methods for my Powershell commands.

E.g. I want to upload my own image to Azure.

[code]

So far I can create my resource-group and my storage container.
Thats easy by just calling `storage_accounts.create()` and `blob_containers.create

[2019-10-17 08:09] darinkes commented on #2719
I found this method in an file in the repository, but can't find it in the current version or anything that could have replaced it.

https://github.com/Azure/azure-sdk-for-ruby/blob/997aed03e4f94a9a35049186160bafc257e9b978/lib/azure/storage/blob/blob_service.rb#L323

[2019-10-17 08:53] MyronFanQiu commented on #2719
@darinkes Hello. This repo contains Ruby SDK for azure management plane, which intend to support create/update/show/delete operations on Azure Resource like Storage. However, upload/download is not a management operation and not maintained by me. Based on my knowledge, https://github.com/Azure/azure-storage-ruby should be the right SDK. azure_mgmt_storage and azure-storage support operations on st

[2019-10-17 09:17] darinkes commented on #2719
Yeah, and this project seems to be abandoned and it cant be used in the same context as this SDK.

Why is upload and download not the same as create/update (HTTP PUT/POST) and show (HTTP GET)?

Also the Python Counterpart of this project supports it: https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-blob/azure/storage/blob/blob_client.py#L1115

[2019-10-17 13:44] darinkes commented on #2719
Do you have any hints for the creation of custom images?

[code]

[2019-10-18 05:30] darinkes commented on #2719
Ok I managed this task with the workaround using the azure-storage-blob gem.
But I think this needs to change and become part of this SDK like it was at some point and still is in python.

[2019-10-18 10:19] whs-dot-hk opened #2720 "Unexpected content-encoding generated by asm v0.7.10"
[code]
an unexpected

ContentEncoding: utf-8

is generated by the code below

https://github.com/Azure/azure-sdk-for-ruby/blob/f9d1dcfc05e980c4452d53b10ea82b26095296f6/lib/azure/blob/blob_service.rb#L1373

[2019-10-23 10:21] lttito opened #2722 "Missing subnet id property on ContainerNetworkInterfaceIpConfiguration class"
I'm trying to create a container group (Azure Container Instances) inside a VNet. To do so, following https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet I need to configure a network profile for the container group. So when trying to create the  network_profile for the container_group, following  https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkprofi

[2019-10-23 10:23] lttito commented on #2722
Checked again code, it is supposed I need to create a IPConfigurationProfile instead of a ContainerNetworkInterfaceIpConfiguration object

[2019-10-23 10:23] #2722 closed

[2019-10-23 13:14] lttito opened #2723 "Missing operation begin_create_or_update_async on network_profiles"
There is a missing operation, begin_create_or_update_async, on
azure-sdk-for-ruby/management/azure_mgmt_network/lib/2019-08-01/generated/azure_mgmt_network/network_profiles.rb that prevents a gem user to create network profiles for Azure Container Instances

When trying to execute method create_or_update on network_profiles, it says
NoMethodError (undefined method `begin_create_or_update_async' fo

[2019-10-28 11:12] maham-nazir-confiz commented on #2716
@MyronFanQiu @sfiguemsft
any update on when you will be releasing the fix? Thanks

[2019-10-28 14:00] Talha5 opened #2724 "SharedAccessSignature"
How can one create Shared Access Signature Token for iot hub using this ruby client?

[2019-10-29 00:28] tas50 commented on #2060
@sarangan12 I wanted to circle back here to see if I'm missing something. The five gems are now 110 megs on disk, which is about 20% of our total install. Is there another gem release out there I'm missing that allows you to target just a specific version instead of the main gems like azure_mgmt_network that include all the versions?

[2019-10-29 17:54] sarangan12 commented on #2060
@MyronFanQiu is the current owner of the Ruby SDK. Please coordinate with him regarding this. My recommendation is that if the size is the issue, we could redesign and package them separately. So,the azure_mgmt_network will be a rollup gem with the following individual gems:

[code]

This will not be a breaking change. So, no customer will get impacted. @tas50  could just point to the specific ver

[2019-10-30 06:57] MyronFanQiu commented on #2724
@Talha5 Hello. I'm not sure whether this can be done through this SDK or not. Looks like it's a data plane operation. Let me ask for service team.

[2019-10-30 07:17] MyronFanQiu commented on #2723
@lttito Thanks! It's indeed an error. I need some time to investigate.

[2019-10-30 09:13] Talha5 commented on #2724
@MyronFanQiu Thanks for responding, This SDK only provides [Operations](https://docs.microsoft.com/en-us/rest/api/iothub/operations), [ResourceProviderCommon](https://docs.microsoft.com/en-us/rest/api/iothub/resourceprovidercommon), [IotHubResource](https://docs.microsoft.com/en-us/rest/api/iothub/iothubresource) and [Cetificates](https://docs.microsoft.com/en-us/rest/api/iothub/certificates) till

[2019-10-30 09:17] MyronFanQiu commented on #2724
@Talha5 This SDK is used for Azure resource management. Especially for IoT, I'm familiar with the service whether it's related with resource management or not. So we can wait for @iluican  and @jlian

[2019-10-30 09:18] MyronFanQiu commented on #2720
@whs-dot-hk Hello. Thanks! I may need some time to look at this issue. Because all of these sdk are auto-generated from swagger. Usually a manual PR is not acceptable.

[2019-10-30 09:33] whs-dot-hk commented on #2720
Hi, we came across this issue when trying to use the this library and azure cdn

with content encoding utf-8 the cdn won't serve our content

[2019-10-30 10:31] MyronFanQiu commented on #2723
/home/ruby/autorest.ruby/src/azure/Model/MethodRba.cs line 38. Should check whether the value is true or false instead of just checking the existence of the key. @lttito Hello. I think I have found the root casue and I will fix this issue later.

[2019-10-31 02:53] MyronFanQiu commented on #2060
@tas50 Hello. I'm looking at it now. I agree that the size of network is quite large. I have two questions so that we can make a better design to solve this issue.
- Do you use some specific api-versions?
- Will you always bump the dependency and use the latest version?
The situation is that our network team will release a new api-version every one or two months. Different api-version may contain

[2019-11-01 06:31] #2723 closed

[2019-11-01 07:52] MyronFanQiu commented on #2723
@lttito I will release new Network SDK today or tomorrow. Thanks.

[2019-11-01 16:29] tas50 commented on #2060
I'd be fine with a gem that targeted a single API version. In our code we're targeting a single API version anyways. Ideally though you'd look at DRYing the code up between the files. From what I can tell most are incredibly similar between the releases. I know that's just a side effect of generating a lib for each API version, but it's resulting a massive gem that's only going to continue to grow

[2019-11-04 01:56] MyronFanQiu commented on #2060
Thanks @tas50 . As far as I know, currently, autorest v3 is trying to fuse the similar codes between all api-versions together and provide a profile version. To unblock you quickly, could you share me with which version do you need?

[2019-11-06 05:59] MyronFanQiu commented on #2716
@maham-nazir-confiz Sorry for the delay. I tried to open an issue for you in the https://github.com/Azure/azure-rest-api-specs/ repo. And I just found existed one
https://github.com/Azure/azure-rest-api-specs/issues/1940. @rohinkoul Is any plan to solve this one?

[2019-11-11 03:05] MyronFanQiu commented on #2060
@tas50 Hi. A gentle remainder to share your thoughts. I don't know the ETA for the autorest v3. We can first help you to generate the separate package including a specific version if you want.

[2019-11-20 10:31] bim-msft commented on #2707
@MyronFanQiu It seems that the release page is out of maintenance, should we continue to update it after each release?

[2019-11-20 21:35] jsmartt opened #2732 "Serialization of TimeSpan type produces empty hash"
I'm trying to create an autoscale rule for a VM Scale Set, using the Azure::Monitor::Mgmt::V2015_04_01 module, but I'm getting error responses with the body: `{"code":"UnsupportedRequestContent","message":"Request content is not well formed or supported."}`. Upon further inspection, my properties with the TimeSpan type are getting converted to an empty hash instead of a string value upon serializa

[2019-11-26 22:39] rohinkoul commented on #2716
@MyronFanQiu endpoint name has to be specified while creating a new endpoint. It can't be changed once the endpoint has been created and hence I guess it has been marked as read-only. What would be the SDK behavior if we mark it read/write? I am a bit confused about why this would be a problem specifically for Ruby SDK and not others. Before updating swagger I need to make sure that this does not

[2019-11-27 05:09] MyronFanQiu commented on #2716
@rohinkoul Hi. In the Azure/azure-rest-api-specs#1940, python SDK has met same problem before. `readonly: true` means that this property should not appear in the PUT REST CALL. In Ruby, we will not expose this parameter to user. In Python, this property will be filtered out of body content even if the user provide this parameter.

[2019-11-27 05:22] maham-nazir-confiz commented on #2716
@rohinkoul it's not about changing the name of an already created endpoint. It's about being able to create an endpoint along with a TM Profile which is something that was allowed back in SDK 0.9.0

Now even if we have to create an endpoint separately, when trying to update a TM Profile, you cannot pass it your endpoint and hence the TM Profile ends up losing any endpoints it had on update

[2019-12-02 08:08] #2732 closed

[2019-12-02 10:17] bim-msft commented on #2732
@jsmartt Your PR is merged, the new version of `ms_rest` is released, please try again: https://rubygems.org/gems/ms_rest/versions/0.7.5 . Thanks for your contribution.

[2019-12-02 12:59] bim-msft commented on #2732
@jsmartt Your PR was merged, thanks for your contribution. The new version of `ms_rest` was released (https://rubygems.org/gems/ms_rest/versions/0.7.5), you can upgrade it and try again.

[2019-12-02 16:35] jsmartt commented on #2732
Thanks for the quick turnaround on this @bim-msft. It's working for me now 😄

[2019-12-05 14:47] scarfacedeb opened #2740 "Possible incorrect constant error in KeyVaultClient"
I'm trying to create new key in my Azure KeyVault and I keep getting the same NameError:

[code]

It's coming from [KeyVaultClient#create_key_async](https://github.com/Azure/azure-sdk-for-ruby/blob/master/data/azure_key_vault/lib/7.0/generated/azure_key_vault/key_vault_client.rb#L216).

I think that there're a couple of errors in that code: incorrect constant and camelCased method used, instead of

[2019-12-05 15:21] scarfacedeb commented on #2740
I tested `KeyVaultClient#encrypt` and it doesn't work either.

First of all, it has the same [constant error](https://github.com/Azure/azure-sdk-for-ruby/blob/master/data/azure_key_vault/lib/7.0/generated/azure_key_vault/key_vault_client.rb#L1404) as the earlier methods.

Next, its [KeyOperationsParameters.mapper](https://github.com/Azure/azure-sdk-for-ruby/blob/master/data/azure_key_vault/lib/7.0

[2019-12-06 13:26] bim-msft commented on #2740
@scarfacedeb Thanks for your feedback, I'll look into this next weekday.

[2019-12-11 00:34] #2724 closed

[2019-12-18 21:38] wiazur commented on #2704
Hi @MyronFanQiu, apologies for the delayed response, we are trying to continue work on correcting bugs for this sample, so I can continue this process with you. I debugged and found the value for `model_name`, it is `Suggestions`. I know that is the last word added to the endpoint for the query, as observed in other languages implementing this exact sample. Does that mean anything to you? Thanks.

[2019-12-30 20:54] sgiacomel commented on #2499
This applies also to these properties:
usageQuantity
billableQuantity

[2020-01-08 10:50] neilcarv opened #2745 "Azure ServiceBus Documentation"
Hi,

I have followed the steps on [Azure-Service-Bus](https://docs.microsoft.com/en-gb/azure/service-bus-messaging/service-bus-ruby-how-to-use-queues#configure-your-application-to-use-service-bus) and everything is working fine.

This documentation states to install azure using` gem install azure`. However, when I look at the last time the gem was updated on [azure-ruby-gems](https://rubygems.org/

[2020-01-09 02:53] MyronFanQiu commented on #2745
@neilcarv Hello. Could you try `gem install azure_mgmt_service_bus` if you want to manage your service bus resource?

[2020-01-10 20:55] sgiacomel commented on #2499
Reported here:
https://social.msdn.microsoft.com/Forums/azure/en-US/266d4123-3407-4e65-8f79-09a64ac857bd/bug-in-azuresdkforruby-consumption?forum=windowsazuredevelopment

[2020-01-20 05:34] maham-nazir-confiz commented on #2716
@MyronFanQiu  any update on when this will get fixed?

Thank you

[2020-01-21 09:26] nickzhums commented on #2708
@anatol let us know if you are still experiencing the issue

[2020-01-21 15:22] darinkes commented on #2719
When you are fine with it. I can switch to the python SDK anytime, where it is included.
So closing it then.

[2020-01-21 15:22] #2719 closed

[2020-01-21 15:46] nickzhums commented on #2719
@darinkes thanks!

[2020-01-22 07:20] nickzhums commented on #2719
Hi @darinkes , actually I would like to understand more of your scenarios. would you be open to a brief conversation on how you are using SDK to manage your resources :)

[2020-01-30 04:40] MyronFanQiu commented on #2716
@maham-nazir-confiz  sorry for the delay. The issue must be solved in swagger spec and I can release a new version of Ruby SDK. @rohinkoul Since python sdk has met same problem two years ago. Could you please investigate the issue and update swagger spec?

[2020-01-30 21:05] wjia7 opened #2750 "Is there a way to dissociate public IP address from NIC through SDK?"
Hi,

I am looking for a way to dissociate public IP addresses from my nic that is associated with a VM that is part of a scale set. There is ways to do it through azure portal and CLI (https://docs.microsoft.com/en-us/azure/virtual-network/remove-public-ip-address-vm). My question is that is there a way to do it through SDK?

Thanks

[2020-01-31 17:48] skalingclouds opened #2751 "support for client-side encryption"
SDK should support client side encryption example https://docs.microsoft.com/en-us/azure/storage/blobs/storage-encrypt-decrypt-blobs-key-vault

[2020-02-01 09:44] MyronFanQiu commented on #2750
should be able to do it. You can just set the corresponding field to `None` and call client.create_or_update.

[2020-02-04 01:47] nickzhums opened #2753 "CRP behavior for the Imperative CreateVM calls from ruby script"
Customer encounters an issue where provisioning large numbers of VMs from their Ruby script can lead to unexpected result

[2020-02-04 01:49] yonzhan commented on #2753
add to S165.

[2020-02-04 02:04] MyronFanQiu commented on #2751
@skalingclouds Hello. This is ruby sdk for managing Azure resource. There is a separate storage ruby sdk. https://github.com/Azure/azure-storage-ruby You can check whether it has the client-side encryption or not.

[2020-02-14 22:15] yunbas commented on #2716
@maham-nazir-confiz  we added this bug to our backlog. Our current plan is to address this by the end of June 2020. We are not able to provide a more certain ETA at the moment.

[2020-02-19 23:05] jsmartt opened #2759 "Azure HPC Cache name is limited to 31 characters instead of 80"
Many places in [this file](https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_storagecache/lib/2019-11-01/generated/azure_mgmt_storagecache/caches.rb), there is a regex, validating the name matches the pattern `^[-0-9a-zA-Z_]{1,31}$`. It will prevent any action (including get or create) with a name longer than 31 characters by raising the following error:

[code]

Howeve

[2020-02-20 02:06] MyronFanQiu commented on #2759
@jsmartt Hello. Our SDK is auto-generated. The root cause is that service team set this limitation in their swagger spec. We have to fix it in the swagger spec first. I add service attention to invite correct team.
https://github.com/Azure/azure-rest-api-specs/blob/62b1b41dd4637c3667943aa5b845f08e81671437/specification/storagecache/resource-manager/Microsoft.StorageCache/stable/2019-11-01/storagec

[2020-02-28 12:36] jrmhaig opened #2760 "Where is the documentation for the Key Vault gem?"
The link in the README to 'Key Vault' goes to the [Rubygems page.](https://rubygems.org/gems/azure_mgmt_key_vault) The documentation page there links to the [Microsoft Azure develop page](https://azure.microsoft.com/en-us/develop/ruby/) that shows how to install the `azure` gem and provides a link to 'Read the full Azure SDK for Ruby documentation'. This leads back to the [README file here.](https

[2020-03-02 13:50] nabeel-nazir-confiz commented on #2716
@yunbas I am facing the same issue can you please release the fix for this mentioned bug?

[2020-03-03 02:08] MyronFanQiu commented on #2760
Based on my knowledge, we don't have enough docs for ruby sdk. Sorry about that.

[2020-03-03 09:48] jrmhaig commented on #2760
Thanks @MyronFanQiu

I'll use the [`azure-key-vault`](https://rubygems.org/gems/azure-key-vault) gem instead. It is an unofficial, 3rd-party gem but it does what I need for the moment.

[2020-03-05 17:13] jsmartt commented on #2759
Thanks @MyronFanQiu. I did open a PR on that repo, but it looks like it needs some help from some MSFT folks to fix build/validation issues and enable SDK automation.

[2020-03-06 02:46] MyronFanQiu commented on #2759
Could you give me the PR link?

[2020-03-06 15:23] jsmartt commented on #2759
It's linked just above my comment too, but it's https://github.com/Azure/azure-rest-api-specs/pull/8606

[2020-03-06 21:30] brandsr commented on #1265
The custom-headers in all client calls enables you to add a header called x-ms-authorization-auxiliary. This header must contain the bearer access token of the login to the second tenant, with the same client id and secret. See

[2020-03-09 10:42] brandsr commented on #1265
Piece of code:
[code]

[2020-03-12 19:07] romahamu commented on #2759
Hi @jsmartt thanks for pointing it out.

@MyronFanQiu There is a new version coming, which has this fix.  https://github.com/Azure/azure-rest-api-specs/pull/8403/files

[2020-03-13 01:35] MyronFanQiu commented on #2759
@romahamu good to know. Once it's merged, you can request a sdk release through https://portal.azure-devex-tools.com/

[2020-03-17 14:08] kac460 opened #2765 "What does this middleware option do?"
I'm new to Azure, and it's not clear to me what the `middlewares` option in the `VirtualMachines` class's `begin_run_command_async` method is for. https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_compute/lib/2019-07-01/generated/azure_mgmt_compute/virtual_machines.rb#L2559 Could someone explain it? In particular what is the significance of each of the items in that arr

[2020-03-17 15:03] nickzhums commented on #2765
@MyronFanQiu  could you take a look? thanks

@kac460 curious why you are using Ruby SDK ? :)

[2020-03-18 01:58] MyronFanQiu commented on #2765
@kac460 Hi. May I know the motivation behind this issue? middlewares is used to control the retry times for a request in case network issue. https://github.com/Azure/azure-sdk-for-ruby/blob/373a9a0fae0de9bbe4d3948c99a25d6656bef14b/runtime/ms_rest/lib/ms_rest/retry_policy_middleware.rb#L9 this line should help explain. It's a basic logic in ms rest and should not be exposed to user directly.

[2020-04-09 13:03] digaoddc opened #2769 "Configure long running operations timeout"
Hello.  I spent some hours debugging one test to figure out why a request that was recorded with `VCR` was taking 30 seconds to run. This is strange because the request was recorded so no real request was made.

I found this line was causing this behavior https://github.com/Azure/azure-sdk-for-ruby/blob/373a9a0fae0de9bbe4d3948c99a25d6656bef14b/runtime/ms_rest_azure/lib/ms_rest_azure/azure_service_

[2020-04-23 23:53] lilyjma opened #2772 "test"

[2020-04-23 23:56] #2772 closed

[2020-05-01 18:09] allenjzhang commented on #2765
Closing this as information provided to the question. Please reopen if you still have follow up questions.

[2020-05-01 18:09] #2765 closed

[2020-05-03 16:15] idrozd opened #2774 "No docs, no examples, no specs"
No docs, no examples, no specs, googling gives nothing

How do I use PowerBI embed functionality? )

[2020-05-03 17:10] nickzhums commented on #2774
@idrozd  could you please give more specific details ?

[2020-05-04 14:35] idrozd commented on #2774
Thanks for response! =)

So I'm using Python example embed app as a prototype for my ruby solution.

I've managed to get the auth token.

Next part is I need to pass it to some endpoint that will respond with embed details:

embedparams from [this python solution](https://github.com/microsoft/PowerBI-Developer-Samples/blob/master/Python/App%20Owns%20Data/powerbiembedding/pbiemjbedservice.py)

The

[2020-05-04 18:05] allenjzhang commented on #2774
@idrozd , thanks for your question. PBI's REST specification is [here](https://docs.microsoft.com/en-us/rest/api/power-bi/). The report GET is specifically [here](https://docs.microsoft.com/en-us/rest/api/power-bi/reports/getreportingroup).

On the GET doc page, you can try out the call using a credential. Looks like the `myorg/groups` should be as it is. Only variables are `GroupId` and `ReportId

[2020-05-04 18:43] idrozd commented on #2774
Thanks again!

Who can I speak to regarding api timing out?

It looks like connection is getting open but nothing happens after.
I assume it should have responded with error code instead of halting if it worked?

❯ curl http://api.powerbi.com:443/v1.0/myorg/groups/ebf08fdb-cadd-423e-9943-6272e5daaf6d/reports/6335e2e9-62c3-4cac-a183-6879b3baf7f9 --verbose
*   Trying 20.40.141.242...
* TCP_NODELAY s

[2020-05-04 19:34] nickthecook opened #2775 "Unable to set content of TxtRecord"
Hi,

I'm using the Ruby SDK for Azure, and I'm trying to create a TXT record in an existing DNS Zone, with specific content.

My code will create a TXT record, but the "value" field is empty:

<img width="762" alt="image" src="https://user-images.githubusercontent.com/5835543/81002666-a1e8c500-8e17-11ea-9bbc-dc81d3943c16.png">

Here is the code I'm using to create the `TxtRecord` object:

[code]

[2020-05-04 19:41] nickthecook commented on #2775
Also, I have tried with a String as the `value`, but it looks from this code like it's looking for an array of String:

https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_dns/lib/2017-10-01/generated/azure_mgmt_dns/models/txt_record.rb

[2020-05-06 10:36] idrozd opened #2776 "Can I / do I need to pass the scope?"
Hello,
all the best to you!

https://github.com/Azure/azure-sdk-for-ruby/blob/373a9a0fae0de9bbe4d3948c99a25d6656bef14b/runtime/ms_rest_azure/spec/application_token_provider_spec.rb#L12

So I'm trying to embed powerbi;
When I get the authentication token, do I need to pass scope also?
Don't see it in the code.

But [this python example](https://github.com/microsoft/PowerBI-Developer-Samples/blob/ma

[2020-05-11 13:24] nickthecook commented on #2775
I still haven't found a solution for this.

Can anyone provide some insight as to why the code above produces a TXT record with an empty value?

[2020-05-12 01:45] MyronFanQiu commented on #2775
@nickthecook Hi. Based on my knowledge, the model you build is used for this client within dns client instead of the resource client. The model they need are different. Please use this client instead.

https://github.com/Azure/azure-sdk-for-ruby/blob/6e278aa6155adb615a3e17ef84e4e773c3c16ac5/management/azure_mgmt_dns/lib/2017-10-01/generated/azure_mgmt_dns/record_sets.rb#L192

[2020-05-12 13:10] nickthecook commented on #2775
@MyronFanQiu Thanks for the tip.

I've updated to use that class, but I still get a blank TXT record, same as in the screenshot in the issue description. Code follows.

I get this response:

[code]

It's challenging trying to use the code to work backwards, because of the auto-generated ReST API wrappers. Any idea what I need to pass as `parameters` to the `create_or_update` call to get `@txt_reco

[2020-05-13 05:13] MyronFanQiu commented on #2775
This should be redundant. You can check the source code to see which type are needed.
[code]

[2020-05-14 15:05] tulaseerao opened #2780 "IOT Hub: Device Connection String Generation Example"
Hello Azure Team,
I would like to generate/retrieve device Coneection String using gem 'azure_mgmt_iot_hub' or any other supported azure gems. I was unable to find any examples or specs related to  Device connections strings generation. I do have all credentials and able to make connection using Azure::IotHub::Profiles::Latest::Mgmt::Client. I am stuck where creation of device connection stings fo

[2020-05-15 01:52] MyronFanQiu commented on #2780
what's the error you met? If you have c# code, the logic flow should be almost same.

[2020-05-16 17:52] nickthecook commented on #2775
It seems to needs a `RecordSet`. What did you think was redundant about this, specifically?

[2020-05-18 01:40] MyronFanQiu commented on #2775
https://github.com/Azure/azure-sdk-for-ruby/blob/6e278aa6155adb615a3e17ef84e4e773c3c16ac5/management/azure_mgmt_dns/lib/2017-10-01/generated/azure_mgmt_dns/record_sets.rb#L210

They type of parameter should be RecordSet directly instead of RecordSetUpdateParameters.

[2020-05-18 11:57] yossi-y commented on #2706
Hello,
We have done work on Log Analytics SDKs recently - Could you confirm if the issue is resolved please?

Thanks,
Yossi

[2020-05-18 20:07] tulaseerao commented on #2780
@MyronFanQiu I am not getting error and trying to mock same code snippet of c# unable to find corresponding example classes for below snippet in Ruby.

`RegistryManager registryManager = RegistryManager.CreateFromConnectionString(s_connectionString);

        Device newDevice = new Device("testhubregistration");

        var device = await registryManager.AddDeviceAsync(newDevice);

        var de

[2020-05-19 01:56] MyronFanQiu commented on #2780
@tulaseerao Which sdk in c# are you using?

[2020-05-19 01:59] MyronFanQiu commented on #2706
@yossi-y Hi. If you want to release new SDK, please send a request through https://portal.azure-devex-tools.com/

[2020-05-19 15:20] tulaseerao commented on #2780
@MyronFanQiu We are using latest what ever is here
 https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.registrymanager?view=azure-dotnet

[2020-05-19 19:47] nickthecook commented on #2775
Unfortunately, if I pass a `RecordSet` directly, and not as part of a `RecordSetUpdateParameters`, I get an `(MsRestAzure::AzureOperationError)`:

[code]

[2020-05-19 19:50] nickthecook commented on #2775
I can pass the `TxtRecord` object directly in the `create_or_update` method call, but the TXT record body is still empty when the record is created in Azure; same as when I pass the `RecordSetUpdateParameters`.

[2020-05-19 23:47] ystros opened #2781 "Azure Gov environment uses an out-of-date default for the active directory endpoint url"
The AzureUsGovernment environment embedded within the most recent version of the `ms_rest_azure` gem is currently set to `https://login-us.microsoftonline.com/`

https://github.com/Azure/azure-sdk-for-ruby/blob/master/runtime/ms_rest_azure/lib/ms_rest_azure/azure_environment.rb#L133

However, per this article, the Azure Gov environment should now be using `https://login.microsoftonline.us` instead

[2020-05-20 05:37] MyronFanQiu commented on #2781
@ystros I would take a look. Thanks for reporting it.

[2020-05-20 05:42] MyronFanQiu commented on #2775
This should be correct. Based on the [example](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/dns/resource-manager/Microsoft.Network/stable/2017-10-01/examples/CreateOrUpdateTXTRecordset.json) provided by service team, please try to provide ttl as well. If you still cannot see the value, I would add service attention to invite correct person to help you.

[2020-05-20 05:50] MyronFanQiu commented on #2780
@tulaseerao looks like this sdk is related with data-plane operations. We cannot find corresponding ruby sdk in this repo. I'm not sure whether we have corresponding sdk in ruby or not. Let me invite service team to answer.

[2020-05-20 12:36] jiasli commented on #2781
Azure CLI never used `https://login-us.microsoftonline.com/`:

[code]

`https://login.microsoftonline.com` was changed to `https://login.microsoftonline.us` in https://github.com/Azure/azure-cli/pull/4877

[code]

We should make Ruby SDK use `https://login.microsoftonline.us` as well.

FYI: found `git log` from https://stackoverflow.com/a/44711340/2199657

[2020-05-21 07:04] #2781 closed

[2020-05-27 12:49] rebecca-makar opened #2785 "ms_rest_azure 0.12.0 is breaking run for storage cache"
Hi - in automation testing, we use the ruby sdk .
Normally do:
    sudo gem install azure_mgmt_resources
    sudo gem install azure_mgmt_network
    sudo gem install ms_rest_azure
    clone repo ---- make update to our service .rb file to allow mock since it is for testing purposes,
    sudo rake install
    ruby test.rb

I am now getting this error below:
[code]

This change https://github.com/Az

[2020-05-28 02:11] MyronFanQiu commented on #2785
Is there any reason why you need to install `ms_rest_azure` directly? Recently a new ms_rest_azure 0.12.0 package was released. Even though we have done the code change in this repo, but we didn't release any new package relying on 0.12.0 yet. That's why you saw such conflicts.

[2020-05-28 12:51] rebecca-makar commented on #2785
@MyronFanQiu Realizing it is effecting me since I am not doing a gem install for storage cache, but rather doing a rake install based off of the repo in the storage cache which was changed and needed the new file. I am trying to add a sed in the pipelines to change my fresh clone of the repo in the build pipeline back to old version until all packages are released.

[2020-05-29 16:28] puma25ca commented on #2785
@MyronFanQiu jumping on this bandwagon. I realize Ruby 2.5 isn't on the supported list yet, but this is affecting me too as ms_rest_azure 0.12.0 unpins the unf_ext dependency (from 0.0.7.2) allowing the other gems that call for latest 0.0.7.6.
Is there a timeframe for releasing new packages using the latest ms_rest_azure?

[2020-06-01 02:17] MyronFanQiu commented on #2785
They should be released within this week.

[2020-06-02 08:18] MyronFanQiu commented on #2785
new sdks has been released. Please have a try.

[2020-06-02 08:18] #2785 closed

[2020-06-16 07:52] lilyjma commented on #2774
Closing the issue as it appears to be resolve. Please feel free to open a new one if needed.

[2020-06-16 07:52] #2774 closed

[2020-06-30 09:17] Vijay8888 opened #2789 "Azure connection failing while using with test-kitchen kitchen-azurerm for Azureusgovernment cloud environment."
Hi,

We are getting error while testing chef cookbook using kitchen-azurerm for azureusgovernment.

We have configured everything as per the documentation and declared environment as azureusgovernment. Error as below.

Couldn’t connect to azure please check tenant I’d, client I’d, client secret.

Could someone please help on this issue.

Thanks
Vijay

[2020-07-01 01:39] MyronFanQiu commented on #2789
@Vijay8888 Hi. Could you open this issue through support ticket since it's related with aad and personal data. Based on the error message, it might be something wrong with the tenant id or client secret.

[2020-07-01 12:17] baarkerlounger opened #2791 "Azure Database for Postgres/MySQL/MariaDB SDK support"
Currently there is [azure_mgmt_sql](https://rubygems.org/gems/azure_mgmt_sql) gem for [SQL REST API](https://docs.microsoft.com/en-us/rest/api/sql/).

It doesn't appear there are equivalents for [MariaDB REST API](https://docs.microsoft.com/en-us/rest/api/mariadb/), [MySQL REST API](https://docs.microsoft.com/en-us/rest/api/mysql/) and [Postgres REST API](https://docs.microsoft.com/en-us/rest/api/

[2020-07-02 02:14] MyronFanQiu commented on #2791
Hi. Ruby SDK is released according to the request of service team. I don't know the service's plan. Let me add service attention. Meanwhile, ruby sdk is going to be deprecated. If possible, please use other popular language sdks like python/java/c#/ts.

[2020-07-02 07:24] baarkerlounger commented on #2791
@MyronFanQiu is there any announcement you could link that the SDK is being deprecated and when?

[2020-07-02 07:29] nickzhums commented on #2791
Hi there is no official annoucement yet but this is the direction. The development focus has shifted to delivering a new set of Azure Management SDK that follows unified guidelines that should provide better developer experience. Recently, the first set of those new libraries are already released, please refer to here:
https://azure.github.io/azure-sdk/releases/2020-07/java.html
https://azure.gith

[2020-07-02 07:33] baarkerlounger commented on #2791
Right and will a new Ruby library eventually also be released or is support for Ruby language likely to be dropped altogether?

[2020-07-02 07:43] nickzhums commented on #2791
Currently there is no plan for Ruby because of the usage is relatively low, but if there is strong evidence we'll re-consider the plan

[2020-07-02 19:42] ajlam commented on #2791
@baarkerlounger - at the moment, we do not have plans to support the Ruby SDK for Azure DB for MySQL, MariaDB, and PG services.

[2020-07-09 14:15] shemers commented on #2706
#need-author-feedback

[2020-07-09 16:17] #2791 closed

[2020-07-16 17:13] urielhdz opened #2792 "Is there support or the Premium Encoder of Media Services?"
I don't seem to find any reference to the usage of this encoder on transforms or jobs? Is it part of the SDK?

I would love to receive a direction on how to implement these encoders in a Ruby application.

Thanks in advance!

[2020-07-16 19:59] #2792 closed

[2020-07-16 19:59] urielhdz commented on #2792
Closed since I have confirmed that the Premium Encoder is not available on the v3 API

[2020-07-18 13:25] BrentWheeldon opened #2793 "Which gem to use for Service Bus?"
:wave: I'm working on a project that will need to consume messages from an Azure Message Bus queue, and possibly write messages to a different queue. I was able to follow the documentation and use the `azure` gem to get a working proof of concept but now that I'm working on the project in the existing application I work on I'm running into gem dependency issues - particularly around `thor` (the la

[2020-07-20 01:41] MyronFanQiu commented on #2793
@BrentWheeldon Hi. This repo is for control plane and should not include reading and writing of service bus. I don't know whether we have another gem or not. Let me invite service team to answer.

[2020-07-21 11:45] yossi-y commented on #2706
Jared hi,
can you update if the issue is now resolved after the recent SDK refresh?

[2020-07-21 15:40] jsmartt commented on #2706
@yossi-y, I'm trying to figure out how to perform that search/query operation with the new SDK versions, because the `workspaces.get_search_results` method was removed by #2786. I'm struggling to find a replacement method. Any help would be appreciated.

[2020-07-21 16:34] yossi-y commented on #2706
The API that you used was deprecated and therefore you got the 410.
The way to query with higher limits is using when using the query API (https://docs.microsoft.com/en-us/rest/api/loganalytics/dataaccess/query/execute).

[2020-07-21 16:37] jsmartt commented on #2706
@yossi-y, I understand that, and that's what I'm doing with my own code, but it's either missing from the SDK, or I just haven't found it yet. If it's missing from the SDK, then I'd say the issue persists

[2020-07-22 16:48] tas50 commented on #2060
Sorry for the radio silence. This issue came up today again as the Azure network gem alone jumped to 124 megs on disk in the latest release. These gems desperately need to get split out as this isn't a sustainable packaging system due to the large number of new API releases that are piling up.

[2020-07-24 01:57] MyronFanQiu commented on #2060
@tas50 Hi. Thanks for the suggestion. Actually we're trying to solve this issue since it also causes similar issue for python/go SDKs as well. I will update this issue once we have any progress.

[2020-08-05 22:59] ross opened #2795 "Edit VM tags -> Location header is missing from long running operation"
Was looking to update the tags on a virtual_machine and have code that roughly looks like the following:

[code]

The changes in tags are made as expected, but the call hangs for around 30s before returning:

[code]

After a bunch of digging, debugging, searching, and reading here's what I've found/think:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations ta

[2020-08-06 02:02] MyronFanQiu commented on #2795
According to swagger spec, it should be a long running operation and should return 201/202 first instead of 200.

https://github.com/Azure/azure-rest-api-specs/blob/9ea4dc2d936d8eaae61d507242771b1d6447a96e/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01/compute.json#L2774

To unblock you quickly, `create_or_update` method should also be able to update tags.

https://gith

[2020-08-06 02:23] ross commented on #2795
👍, will look into this in the morning. Thanks for the quick response.

[2020-08-06 08:25] axayjo commented on #2795
@ross let us know if create_or_update works as expected. In the meantime, @avirishuv can you please take a look at the update issue?

[2020-08-06 14:22] ross commented on #2795
That does seem to work and my debugging print shows that its call does have the async header, though it's still al 200 which doesn't line up [with what the doc saya](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations).

[code]

The flow is quite a bit slower than the `update` version, but that should be OK as a work-around.

[2020-08-06 15:42] tas50 opened #2796 "Remove encoding lines from generated ruby code"
Each of the files in this SDK starts with this encoding line:

[code]

Since Ruby 2.0 utf-8 has been the default so this line doesn't actually do anything. Since there are 26,356 files in this repo that extra encoding comment adds 26,356 lines to the codebase that do nothing.

You can use the RuboCop `Style/Encoding` cop to remove these lines from the existing files automatically.

[2020-08-06 15:46] tas50 commented on #2060
Just a bit of a status update here: We forked the SDK and removed the API versions not used in the latest profiles for the gems we use (network, storage, compute, security, resources, and key_vault). That removal was 2.6 million lines of code. Shipping just the latest profile, and even better providing deduped API files for the latest profile would be hugely beneficial for those that package the g

[2020-08-06 21:31] shankarsama commented on #2793
@MyronFanQiu The send/receive is also included in the same gem as Azure SDK (https://rubygems.org/gems/azure/versions/0.7.10). More details here https://www.rubydoc.info/gems/azure/Azure/ServiceBus

The question is 0.7.10 gem is using thor 0.19, is there Azure gem published with the latest version of thor ?

[2020-08-07 01:57] MyronFanQiu commented on #2793
@shankarsama As you can see the release history, [`azure`](https://github.com/Azure/azure-sdk-for-ruby/tree/asm) is a package based on ASM instead of ARM. It has not been updated for three years. I don't know too much about this package.  I thought customer should rely on new ARM structure instead of ASM. Could you share the corresponding reading and sending message API in the swagger spec? https:

[2020-08-07 02:01] MyronFanQiu commented on #2060
Add SDK's PM @nickzhums for awareness.

[2020-08-07 02:23] nickzhums commented on #2060
@tas50 Thanks for sharing the info. This is currently on our backlog and we haven't got around to investigate the issue.

[2020-08-25 22:00] fdr opened #2798 "concurrent-ruby rooted stack traces make problems hard to find"
Even when making synchronous calls, stack traces for API failures will be rooted in the `concurrent-ruby` library, kind of like the one seen below. You wouldn't know it from this output, but this is part of an rspec test I was working on.

In this case the problem is not so bad, but this behavior has been bothering me for a while: it really messes up using exception catching programs (sentry, airb

[2020-08-26 02:44] MyronFanQiu commented on #2798
@fdr Thanks for raising this issue. We would take a look. To be honest, we don't have too much bandwidth on ruby SDK. It need some time for us to investigate.

[2020-08-26 03:05] fdr commented on #2798
The SDK works pretty well, so please do not let it slide into disrepair, which is probably the most important thing. Thanks for taking care of it.

[2020-08-27 09:06] manali14 commented on #2760
Do we have any references for the Documentation? How are we supposed to get/put secrets to keyvault?

[2020-08-31 12:55] manali14 opened #2799 "Unable to get the latest secret from KeyVault without providing the secret version"
There is no support for getting the latest version of the secret from Key Vault. In order to get the version, we again have to hit versions API which seems broken

API:
[code]
Error:
[code]

Similar response for get_secret_versions_as_lazy

 keyvault_client.get_secret_versions_with_http_info seems to be responding but in case you have multiple versions of your secret(In my case, 94), it didn't sen

[2020-09-01 05:28] MyronFanQiu commented on #2799
may I know which package you are using?

[2020-09-01 09:28] manali14 commented on #2799
@MyronFanQiu I am using the KeyVault Package.

Client - Azure::KeyVault::V7_0::KeyVaultClient

[2020-09-01 09:46] MyronFanQiu commented on #2799
@manali14 AFAIK, this package is not maintained by us. This repo is used for Azure Management SDK. @bim-msft Could you help route this issue to correct person?

[2020-09-01 09:49] bim-msft commented on #2799
I think @heaths is the right contact person for KeyVault SDK.

[2020-09-01 15:08] seandilda opened #2800 "Add 2020-01-01 profile for azure_mgmt_subscriptions"
azure_mgmt_subscriptions currently has 2019-11-01 as the latest profile, but API docs are showing sample from a 2020-01-01 API version.

Can we get the the newer API included in the gem? In particular, I'm interested in getting the subscription tags while listing subscriptions.

[2020-09-04 12:40] manali14 commented on #2799
@heaths can you confirm if this is something being worked upon? Or planned for later releases?

[2020-09-04 17:45] heaths commented on #2799
My team doesn't own this SDK. Adding @nickzhums from the team that does.

[2020-09-05 02:46] yonzhan commented on #2799
We will plan this and ship this around end of September.

[2020-09-05 03:06] nickzhums commented on #2799
@manali14 Ruby SDK is on a deprecation path in the future (likely to be announced in Feb next year), please plan your projects accordingly. The alternatives will be using REST API and SDKs of other languages. Thank you

[2020-09-09 02:19] MyronFanQiu commented on #2799
@manali14 we have released a new version. Please have a try.
https://rubygems.org/gems/azure_key_vault/versions/0.18.0

[2020-09-11 19:26] gullioto opened #2802 "How to dissociate a public ip address?"
The CLI doc says to dissociate a public ip from an ip configuration like this:
az network nic ip-config update  --name ipconfigmyVM  --resource-group myResourceGroup  --nic-name myVMVMNic  --remove PublicIpAddress

How can this be done with the Ruby API?

network_client.network_interface_ipconfigurations.create_or_update() is undefined

And a put request like the following returns OperationNotSupp

[2020-09-13 14:26] v-jaswel opened #2803 "[BUG][Face] OperationStatus does not deserialize correctly due to attribute map mismatch"
- **Package Name**: azure_cognitiveservices_face
- **Package Version**: 0.19.1
- **Operating System**: Windows 10 Enterprise 1909
- **Ruby Version**: ruby 2.6.3p62 (2019-04-16 revision 67580) [x64-mingw32]

**Describe the bug**
When I take a snapshot and then call client.snapshot_operations.get_operation_status, the server's response is not deserialized into an OperationStatus object correctly.

*

[2020-09-15 15:59] gullioto commented on #2802
Nevermind. I found this approach:

[code]

[2020-09-15 15:59] #2802 closed

[2020-09-15 22:27] yiyiguo commented on #2780
@Azure/azure-iot-cli-triage

[2020-09-17 08:04] manali14 commented on #2799
As suggested by @nickzhums, we have removed our dependency on the gem and are relying now on Azure Rest APIs.

[2020-09-17 16:48] will commented on #2060
@tas50 can you share how you did this, or where your fork is? The size of the azure gems makes it take multiple seconds to require, not to mention the size on disk. And I'm using sorbet, and the generated RBI for network is over 10mb alone, which is now causing sorbet to segfault.

I was going to try something similar to you, and failing that give up and just make rest calls manually and give up o

[2020-09-17 16:57] tas50 commented on #2060
https://github.com/chef/azure-sdk-for-ruby is out fork. We haven't started using that since not all our projects were actually using the latest profile, but that's the general idea of that fork. Only the latest profile is included which trims several million lines of code and greatly speeds up the performance of the gem.

[2020-09-17 17:12] will commented on #2060
Thanks!

[2020-09-17 18:34] v-jaswel commented on #2803
Per sbowles, this is going to be fixed on the server side and not the SDK side. Therefore I am closing.

[2020-09-17 18:34] #2803 closed

[2020-09-21 21:53] tbugfinder opened #2804 "issues with Azure container registry gem"
Hi,

could you provide an example on how to get / search / list an Azure container registry within a given resource group?

Thanks

[2020-09-22 01:48] MyronFanQiu commented on #2804
Maybe you can check this [file](https://github.com/Azure/azure-sdk-for-ruby/blob/master/management/azure_mgmt_container_registry/lib/2019-05-01/generated/azure_mgmt_container_registry/operations.rb) as an example.

[2020-09-22 08:48] MyronFanQiu commented on #2799
close this issue since it's solved.

[2020-09-22 08:48] #2799 closed

[2020-09-22 10:42] tbugfinder commented on #2804
I have the impression it's lacking methods.
The Azure Python seems to be more detailed.
https://docs.microsoft.com/en-us/python/api/azure-mgmt-containerregistry/azure.mgmt.containerregistry.v2019_04_01.operations.registriesoperations?view=azure-python

Ruby:
https://www.rubydoc.info/gems/azure_mgmt_container_registry/0.18.2/Azure/ContainerRegistry/Mgmt/V2017_10_01/Registries

latest:
https://www.r

[2020-09-22 14:45] AndreiMGagiu opened #2805 "Retrieve public pricing for Vm's"
I was trying to find a way using the sdk to fetch public pricing for all vm families, not just ones present in my subscription id.

Is there such thing possible?

Thanks

[2020-09-22 18:07] tbugfinder commented on #2804
I'm also wondering about this difference.
[code]

[2020-10-08 14:50] stonefield opened #2807 "README Developer’s guide to auth with Azure Resource Manager API - Dead end."
The link on README.md is pointing to a non-existing page.

[code]

[2020-10-14 22:58] avirishuv commented on #2795
@ross For the API version 2019-07-01 or later, if the Update VM request is updating only the VM tags, then the VM will updated with the tags and a 200 response will be returned, without any async headers.

[2020-10-14 23:00] ross commented on #2795
👍 that's kind of what it seemed like was happening. Depending on the details of the request it's sometimes sync and other times async.

[2020-10-15 22:38] tbugfinder commented on #2804
Hi @MyronFanQiu
sorry to bother you once more. Do you have any clue what's wrong here?

[2020-10-22 19:35] avirishuv commented on #2795
@ross if no other open questions, can we close the issue?

[2020-10-22 19:37] ross commented on #2795
Does the client library handle the sync version when just changing tags and async otherwise? I worked around it by using a different API, but seems like this issue is still valid unless the client library now handles the original call's varying modes of operation.

[2020-10-22 19:56] avirishuv commented on #2795
Yes, it depends upon the request - when the request is for changing tags, then the async headers are not returned.

[2020-10-22 20:03] ross commented on #2795
:cool:, didn't see a PR linked up to the issue or anything so wasn't sure if it'd be addressed. If it has then this can be closed.

[2020-10-22 20:03] #2795 closed

[2020-10-26 23:36] axisc commented on #2745
@neilcarv - the documentation is not out of date - the ruby SDK is quite dated for Service Bus.  [Here](https://rubygems.org/search?utf8=%E2%9C%93&query=azure) are all the Azure related gems.

[2020-10-26 23:36] #2745 closed

[2020-10-26 23:43] axisc commented on #2793
@BrentWheeldon  Thanks for raising this issue. I'm afraid we don't have this on the Ruby SDK roadmap.

Could you consider overriding the the dependency on the thor library (I know other langs have a way to do this, but not sure if Ruby does too).

[2020-10-26 23:43] #2793 closed

[2020-10-27 11:51] BrentWheeldon commented on #2793
Yeah - we'd have to fork the gem to update the dependency version. We ended up reimplementing just the functionality we needed from scratch.

[2020-10-28 18:26] tbugfinder commented on #2804
I did some search within the repo azure-rest-api-specs.
It looks like not all versions (in API specs) have the method I'm looking for. Some versions in between lack it.
https://github.com/Azure/azure-rest-api-specs/search?q=%22lists+all+the+container+registries+under+the+specified+resource%22
As the latest reference within this `Azure::ContainerRegistry` in azure-sdk-for-ruby doesn't point to vers

[2020-10-28 18:31] tbugfinder commented on #2804
Is it recommended to point latest to a non-stable version?

[2020-11-05 21:52] yiyiguo commented on #2780
@elhorton

[2020-11-05 21:57] elhorton commented on #2780
hi @MyronFanQiu , I can speak from the Azure IoT SDKs perspective-- we do not have a corresponding Ruby SDK for data plane IoT usage (and we don't have one planned on the roadmap currently). If this is something you're interested in, please file a feature request on our [UserVoice](https://feedback.azure.com/forums/321918-azure-iot), and we appreciate the feedback! We currently offer IoT SDKs in C

[2020-11-06 22:39] tbugfinder commented on #2804
Anybody could rebuild the code for Azure::ContainerRegistry maybe including updated API versions?
I'm also wondering which patched autorest.ruby version you are using or which options are being used.

[2020-11-23 08:56] JonesChi opened #2811 "Any document/example for Service Bus"
It seems the example on https://github.com/Azure/azure-sdk-for-ruby/tree/asm#topics is out of date.

However I found a new gem (**azure_mgmt_service_bus**) for service bus, but I can't find any document or example for how to create topics, send messages to topics, and receive messages from subscription.

Should I use **azure_mgmt_service_bus**? Or what SDK should I use for Service Bus? Thanks.

[2020-11-23 08:58] nickzhums commented on #2811
Hi Jones
Ruby SDK will be deprecated pretty soon - we suggest Python SDK equivalent here

https://pypi.org/project/azure-mgmt-servicebus/

If you still need to use Ruby, we would suggest directly using REST API in Ruby

Let us know if you have other questions

[2020-11-23 09:01] nickzhums commented on #2807
Hi @stonefield  sorry the doc was causing you an issue, we will take a look at this

FYI Ruby SDK will be deprecated pretty soon - for future projects we suggest using Java, .NET and Python SDKs

If you still need to use Ruby, we would suggest directly using REST API in Ruby

Let us know if you have other questions

[2020-11-23 09:01] nickzhums commented on #2805
@kairu-ms could you see if this is possible?

[2020-11-23 09:02] nickzhums commented on #2800
@seandilda
Ruby SDK will be deprecated pretty soon - we will be in maintenance mode. For future projects we suggest using Java, .NET and Python SDKs

If you still need to use Ruby, we would suggest directly using REST API in Ruby

In the mean-time, we will evaluate if we can do a release for this. cc @kairu-ms  for awareness

Let us know if you have other questions

[2020-11-23 13:11] seandilda commented on #2800
Thanks for the heads up!

[2020-11-24 02:22] JonesChi commented on #2811
@nickzhums
Thanks for the information. I currently works on integrating Service Bus with our RoR project, so I can not use Python SDK, will try REST API.

One more question, Will the Azure Storage Ruby SDK (https://github.com/Azure/azure-storage-ruby) keep maintaining? Or it will be deprecated?
Thanks.

[2020-11-24 03:20] nickzhums commented on #2811
@JonesChi  yes the storage SDK will still be maintained and not affected by deprecation, are you directly creating resources within your application?

[2020-11-24 03:34] JonesChi commented on #2811
@nickzhums yes, I need to create topics of Service Bus and send/receive messages to/from the topics on my application.

[2020-11-26 14:26] IvoGuerreiro opened #2812 "Unable to fetch next 1000 records"
In Consumption I'm unable to fetch the next batch of records:

I'm able to get the first 1000 records with the following;

[code]
I get a successful response with a next link url:

`https://management.azure.com/subscriptions/<subid>/providers/Microsoft.Consumption/usageDetails?api-version=2019-05-01&sessiontoken=21:32512334&$skiptoken=327C313030307C313030307C46616C73657C547275657C30&skiptokenver=v

[2020-11-26 16:13] IvoGuerreiro commented on #2812
I got my own answer there is an `list_next_async(url)` method to retrieve the next results

[2020-11-26 16:13] #2812 closed

[2020-12-01 13:06] yossi-y commented on #2706
The deprecation of workspace search results API actually removed the query option from the SDK. The only way to query Log Analytics is when using the query API (https://docs.microsoft.com/en-us/rest/api/loganalytics/dataaccess/query/get, https://dev.loganalytics.io/) which you probably using now.

[2020-12-01 16:07] #2706 closed

[2020-12-02 08:01] #2780 closed

[2020-12-03 18:42] cba7 commented on #2811
@azure @microsoft @azure-sdk @msftbot really guys, how can MS being dropping support for Ruby. Is MS seriously so disinterested in having predominately UNIX developers using Azure...?

It seems like you are just pushing developers to AWS or GCP.

No where in your Ruby documentation, written no more than 5 months prior, do you state you are dropping support of your Ruby SDK.

Suggesting a developer

[2020-12-03 20:13] jsmartt commented on #2706
@yossi-y, thanks for providing the link to the API docs. I'm on parent leave at the moment, so won't be able to check it out for a while, but can you confirm that that API is implemented in the Ruby SDK? A simple code example would be awesome if you can do that as well. It's clear that the API exists, but last I checked (July 2020), the Ruby SDK didn't have an updated method to access that API.

[2020-12-06 12:44] yossi-y commented on #2706
With the deprecation on  workspace search results API, there isn't a way to query workspaces using the Ruby SDK and you will need to call our query API that is on the data plane and not part of Ruby SDK.

Please refer to the API do for reference (https://dev.loganalytics.io/) and let us know if you have any question.

[2020-12-10 21:32] jlimaESB opened #2815 "SessionId is being mapped as SessionID."
Hi, trying to use the Gem azure to send messages, but the message is going to Deadletter queue.

After some investigation, I think the problem is that sessionId is arriving null there.

I open the code and I saw that the BrokeredMessageSerializer is mapping session_id to SessionID (uppercase D).

When I change that, to SessionId, it worked.

BrokerProperties => {"ContentType":"application/json","C

[2020-12-11 00:07] tas50 commented on #2060
@MyronFanQiu Is there an update on this issue? Two years later and this gem is only getting bigger with each release. We'd really like to integrate our apps further with Azure, but this gem is larger than a full ruby install + our app.

[2020-12-11 00:14] will commented on #2060
@tas50 For what it's worth, I gave up on this sdk, and wrote my own mini sdk that uses the rest api, just for the handful of endpoints we actually use.

Everything is much better now without the official msft ruby sdks

* booting my app 1.93s down from 4.4s **2.3x faster**
* full spec suite: takes 4.3 seconds down from 7.1 **1.7x faster**
* 160.8MB of gems lighter: 90MB down from 250MB **2x smalle

[2020-12-11 03:44] kairu-ms commented on #2815
Hi @jlimaESB  'azure' gem is out of date. You should use [azure_mgmt_service_bus](https://rubygems.org/gems/azure_mgmt_service_bus) or [azure_sdk](https://rubygems.org/gems/azure_sdk) instead.

[2020-12-11 03:49] kairu-ms commented on #2815
BTW, Ruby SDK will be deprecated in plan in next year. Here is the [doc](https://github.com/Azure/azure-sdk-for-ruby/blob/3784068643d5a35e031617d7e31913f02986c62c/docs/README.md) that may help your transfer to REST API usage in Ruby.

[2021-01-08 00:45] lilyjma commented on #2759
Hi, this issue appears to be resolved, so I'm closing it now. Thanks!

[2021-01-08 00:45] #2759 closed

[2021-02-02 21:24] agrare opened #2818 "Regression v0.21.0 - unable to require azure_mgmt_compute on v0.21.0"
After upgrading to `azure_mgmt_compute-0.21.0` I am unable to require the gem:
[code]

On `azure_mgmt_compute-0.20.0` I can require it without issue:
[code]

[2021-02-02 22:08] agrare commented on #2818
It looks like https://github.com/Azure/azure-sdk-for-ruby/pull/2817/files#diff-711fd5a469190d37056d75e04f80bf709efa899b0fab9cdce3209b3c4228d204 moved this file to a different gem?

Actually it looks like that PR is failing on exactly this issue: https://travis-ci.org/github/Azure/azure-sdk-for-ruby/jobs/757214156#L14080-L14085

[2021-02-02 22:22] agrare commented on #2818
Appears to have been introduced by https://github.com/Azure/azure-sdk-for-ruby/pull/2817
Not sure how the gem got released while the PR is red but that's more of a process question not a code question

[2021-02-03 04:59] #2818 closed

[2021-02-03 13:48] agrare commented on #2818
Can confirm this fixes the issue.  You might want to consider yanking the broken versions from rubygems so people don't inadvertently use it like we did.

[2021-02-03 16:22] jsmartt commented on #2793
@BrentWheeldon, I'm considering doing the same, but haven't started yet. If you have any code to share, it would be greatly appreciated!

[2021-02-04 02:54] kairu-ms commented on #2818
Thanks so much for your instruction. I've already yanked the broken versions.

[2021-02-04 13:19] agrare commented on #2818
No problem! Thanks for the fix

[2021-02-08 11:44] RossBarnie commented on #2807
@nickzhums Do you have a specific date for the Ruby SDK deprecation in mind? If so it would be very useful to make this prominent across all relevant READMEs, and perhaps a post-install message. There are over 80k downloads for the version released in December so clearly people are still relying on this.

[2021-02-08 13:22] nickzhums commented on #2807
Yes, we are planning to announce deprecation in late Feb. We will definitely add deprecation message to all places, let us know if we've missed any places once the announcement comes out

[2021-02-24 16:59] chris1984 opened #2822 "Issue listing more than one image in a shared gallery"
Hi,

I have 3 images in a shared image gallery. I can add the first one fine, but when I try to add the others I get the following error:

`Failed to save: UUID could not be found in Azure`

I can see the images come back correctly here in pry:

[code]

Here is the code we are using to pull the images with the SDK:

https://github.com/theforeman/foreman_azure_rm/blob/master/app/models/foreman_azur

[2021-02-24 19:18] #2822 closed

[2021-03-02 21:14] chris1984 opened #2824 "Help creating a VM from a specialized image"
Hi,

I am trying to create a VM from a specialized image and when the VM creation goes off, I get back the following:

[code]

Which I see from this:

If the image is not generalized, then you can't specify the osProfile (e.g. user/pass) because it already exists.

I see here though, that we need to use `osProfile` to create a VM:

https://github.com/Azure/azure-sdk-for-ruby/blob/master/management

[2021-03-04 02:40] kairu-ms commented on #2824
I think you should use imageProfile to specify image. BTW, Ruby SDK is retired currently. It is recommended to use by rest-api. This is an example to show how to create an VM with specialized image. [FRI](https://github.com/Azure/azure-sdk-for-ruby/blob/master/docs/create_a_virtual_machine.md#create-a-virtual-machine-with-password-authentication)

[2021-03-04 15:07] chris1984 commented on #2824
@kairu-ms thank you for the response. I will try that. I noticed in your link, the `osProfile` is still being sent off, won't this cause the error that I posted, or will it skip over that?

[2021-03-05 03:57] kairu-ms commented on #2824
No error was caused when I sent off `osProfile`.

[2021-03-10 19:20] jstange opened #2826 "KeyVault *_as_lazy_as_lazy"
Just started experimenting with the item-manipulating parts of the KeyVault interface (`azure_key_vault-0.18.0`), and I'm getting stuff like this:

[code]

The various `get_*` methods in here appear to, through some layers of indirection, call a method which doesn't exist. I see this behavior with all available client versions in here.

The culprit methods look like:

[code]

The above is identica

[2021-03-11 05:54] kairu-ms commented on #2826
Thanks for your feedback. We will fix it soon

[2021-03-11 07:13] #2826 closed

[2021-03-11 08:23] kairu-ms commented on #2826
Fixed in version [0.18.1](https://rubygems.org/gems/azure_key_vault/versions/0.18.1)

[2021-03-11 19:17] jstange commented on #2826
Swapping in the `_async` was one of the things I tried in my blind fumbling, but that returns a `Promise`, which doesn't know what `get_all_items` is:

[code]

I haven't used Concurrent before, but trawling around the codebase for other uses of it I think this wants to be something like:

[code]

...if I do that, I get... well, a completely new, distinct SDK bug for which I'll open a separate issu

[2021-03-11 19:37] jstange opened #2828 "KeyVault api-version parameter missing from get_certificates_as_lazy_async"
Discovered while testing #2826. The API call made in `get_certificates_as_lazy_async` is missing `api-version`, per the REST response:

`{"error":{"code":"BadParameter","message":"api-version must be specified"}}`

The other calls in this file all supply it, so the fix seems straightforward enough. The diff appended to this comment fixes `get_certificates_as_lazy_async` for me. I should note that

[2021-03-12 02:40] kairu-ms commented on #2828
Can you try `get_certificates` and `get_certificates_async`? those two functions have api-version

[2021-03-15 17:56] jstange commented on #2828
Yeah, calling the `_async` version with a `value!` appended is an ok workaround, I'll ride that for now.

I'm finding more stuff in this gem as I get closer to what I'm actually trying to do. Will file separate issues as I find them.

[2021-03-15 18:07] jstange opened #2830 "KeyVault get_*_as_lazy trying to .get_all_items from objects which don't support it"
Related to #2826, KeyVault gem (`azure_key_vault-0.18.1`)

The `_async` methods called by things like `get_certificates_as_lazy` return a `Promise`, which doesn't know what `get_all_items` is:

[code]

[code]

You can append a `value!` to resolve the promise, which is what I did to get around this enough to validate my own code, but I don't know whether or not synchronously resolving it in these `

[2021-03-15 18:15] jstange opened #2831 "KeyVault set_secret_async referencing SecretSetParameters incorrectly"
The 7.1 client (and probably the other api versions) as of `azure_key_vault-0.18.1` try to instantiate `SecretSetParameters` without a scope, which quietly returns a `nil`, and also gets the name of one of the parameters wrong if you do get a real object out. The following diff fixes it for me:

[code]

[2021-03-23 02:11] kairu-ms commented on #2831
Thanks for your feedback. I've manually fixed above issues. Please try 0.19.0. BTW this repo is [retired](https://github.com/Azure/azure-sdk-for-ruby#important-announcement).

[2021-03-27 21:01] tbugfinder opened #2833 "looking for ruby replacement of azure-sdk-for-ruby"
Hi,
as the repo will be retired, I'm wondering how ruby developers deal with Azure?
Is there any project / library which already provides ruby interfaces to the Azure RestAPI?

[2021-03-27 21:02] tbugfinder commented on #2833
https://github.com/Azure/azure-sdk-for-ruby/blob/master/docs/README.md

[2021-04-20 17:55] chris1984 opened #2834 "Using a proxy with the Ruby SDK"
Hi,

We are using the SDK with Foreman so setting the proxy as env variables, won't work. Is there a way to pass proxy info for the connection etc with the SDK or no?

[2021-04-23 16:35] serprex commented on #2831
Not fixed in 0.19.0 is `set_certificate_issuer_async` which still suffers from the same class of issue described here, currently working around it with our own fork which has
[code]

[2021-04-25 09:08] kairu-ms commented on #2831
Thanks for your feedback. I will release a new version to fix it soon.

[2021-04-27 08:44] #2831 closed

[2021-04-28 06:49] amolkumolus opened #2836 "When we try to fetch Public IP Addresses it is not giving natGateway information attached to Public IP"
when we do https call it's giving information about natGateway
https://management.azure.com/subscriptions/{subscription_id}/resourceGroups/{resource_group_name}/providers/Microsoft.Network/publicIPAddresses?api-version=2020-11-01

You can see natGateway is coming in response but not coming through SDK gem

{
    "value": [
        {
            "name": "xxx",
            "id": "/subscription/yyyy"

[2021-04-29 04:32] kairu-ms commented on #2836
Hi @amolkumolus, that's because Ruby SDK is retired and we will not add new properties in SDK. Please use using [azure rest api](https://github.com/Azure/azure-sdk-for-ruby/tree/master/docs#using-azure-rest-api) directly. Thanks.

[2021-05-03 20:20] swordfish2104 opened #2837 "Creating a shared Image Gallery using Azure SDK for Ruby fails with NameError"
I'm trying to create a Shared image gallery in the following snippet:

puts 'Creating a Shared Image Gallery'
  gallery_name = 'TestRubySIG'
  imageGallery = ComputeModels::Gallery.new.tap do |sigimg|
  sigimg.type = 'Microsoft.Compute/galleries'
  sigimg.location = 'eastus'
  end

compute_client.Galleries.create_or_update(GROUP_NAME,gallery_name,imageGallery)

This throws the following error:

1:

[2021-05-24 08:50] nickzhums commented on #2833
Hi @tbugfinder
Please check this guide (https://github.com/Azure/azure-sdk-for-ruby/blob/master/docs/README.md) to call Azure REST API in Ruby

[2021-05-24 08:52] nickzhums commented on #2837
Hi @swordfish2104 the Ruby SDK is being retired (as indicated on the homepage), you might need to refer to the Azure REST API references

[2021-05-24 08:52] nickzhums commented on #2834
@chris1984 Ruby SDK is being retired, we highly suggest you start migrating to the REST API apporach, the docs can be found here:
https://github.com/Azure/azure-sdk-for-ruby/blob/master/docs/README.md

[2021-06-07 20:28] anth1y commented on #2795
Hey Folks, we recently upgraded our azure_mgmt_compute gem to 0.22.0
and tried to use the same code @ross mentioned earlier:

[code]

while the tags are being updated we are still seeing the call hang around for about 30s

[code]

We're wondering if we are doing something wrong to implement this ?

[2021-06-10 23:42] kbrock commented on #2060
We use sdks for a dozen web providers and this is much larger than any of them. Is there a plan to reduce the size of this gem?

@will have you published your gem or do you have a public example of this code? Thnx

[2021-06-11 00:07] kbrock commented on #2060
Is it possible to post process this gem to reduce the size?

many rules of thumb for this?

thanks

[2021-06-11 06:30] nickzhums commented on #2060
@kbrock  FYI Ruby SDK has been retired. Future recommendation is to use REST API in Ruby. You can follow the guide here: https://github.com/Azure/azure-sdk-for-ruby/blob/master/docs/README.md

[2021-06-16 21:02] anth1y opened #2838 "Edit VM tags take 2 -> Location header is still missing from long running operation"
Hello friends:
It turns out that we are still seeing the same issues as described in #2795:

Even after we recently upgraded our azure_mgmt_compute gem to 0.22.0
and tried to use the same code @ross mentioned:

[code]

while the tags are being updated we are still seeing the call hang around for about 30s

[code]

We're wondering if we are doing something wrong or if we implemented this incorrectl

[2021-07-26 20:05] sarangan12 commented on #845
No longer needed

[2021-07-26 20:05] #845 closed

[2021-07-26 20:05] #937 closed

[2021-07-26 20:06] #1028 closed

[2021-07-26 20:07] #1215 closed

[2021-07-26 20:07] #2316 closed

[2021-08-02 21:42] jsmartt opened #2839 "Costing Query Deserialization Wrong Property"
**Library:** azure_mgmt_cost_management
**Version:** 0.17.1 (latest)

Azure::CostManagement::Mgmt::Models::QueryResult (and likely other versions) are trying to deserialize a single `value` property, which does not exist in the response, so the result is an object with a single data property (value) set to nil. The correct property name is `properties`, not `value`. See https://docs.microsoft.com/

[2021-08-02 22:09] jsmartt commented on #2833
In the absence of ongoing support, it would be nice if some generic REST methods (like `#get`, `#post`, `#delete`, etc.) were created to simplify manual API calls. The documented way of doing this right now is almost 100 lines long, but to be user-friendly, this really ought to be about 15, with the majority of that being client/auth setup that can be reused.

Also, if Microsoft won't be supportin

[2021-08-03 01:10] nickzhums commented on #2833
Hi @jsmartt , are you referring to this document (https://github.com/Azure/azure-sdk-for-ruby/blob/master/docs/README.md)

Regarding second question, I'm not exactly sure, let me ask and get back to you

[2021-08-06 08:57] AkshayGoyal022 opened #2840 "Dependency problem with faraday ~> 1.0.0 with azure ~> 0.7"
Hello,

We are trying to upgrade the elasticsearch gem to v7.6.0 which depends on Faraday ~> 1.0.0

The latest version of `azure` is `0.7.10` which has a dependency on Faraday ~> 0.9. We aren't able to upgrade elasticsearch because of this dependency.

Could you please review and try to fix this issue?

Thanks in advance!

[2021-08-11 07:47] nickzhums commented on #2833
@jsmartt double checked with the team, this repo is still under Microsoft maintenance until Dec 31st, 2021. After that, it will be released to community, by then i will be able to add you to the maintainer list. In the meantime, feel free to submit PR and we will help review, thanks

[2021-08-12 03:45] archerzz commented on #2840
Hi @AkshayGoyal022 The Ruby SDK has entered the retirement phase, as announce [here](https://github.com/Azure/azure-sdk-for-ruby#important-announcement). We would not make any substantial changes except for critical security fixes.

Unfortunately Faraday has [break changes](https://github.com/Azure/azure-sdk-for-ruby#important-announcement) since `1.0.0`. So I regret to tell you that we would not

[2021-08-12 05:01] archerzz commented on #2838
Hi @anth1y have you tried the [work-around proposed](https://github.com/Azure/azure-sdk-for-ruby/issues/2795#issuecomment-669638570) in the original issue? That is actually a back-end service issue, as explained in [this comment](https://github.com/Azure/azure-sdk-for-ruby/issues/2795#issuecomment-708704004).
Ruby SDK has [entered retirement phase](https://github.com/Azure/azure-sdk-for-ruby#impor

[2021-08-12 17:48] omgjlk commented on #2838
We have used the work around, but unfortunately the work around is a very long process. It can take several seconds, even minutes, to complete the `create_or_update` call, just simply to add or change a tag. this is a significant regression in performance of our tooling compared to how quickly these types of calls return for AWS or our internal cloud tooling. This was never supposed to be al long

[2021-08-16 09:25] nachtschatt3n opened #2841 "Quickstart Ruby for Resource Graph is not working"
I tried the Microsoft Quickstart (https://docs.microsoft.com/en-us/azure/governance/resource-graph/first-query-ruby) for Resource Graph and created my bundle file in my Azure Linux CLI /Shell.

**Gemfile**
[code]

Then I rand bundle install and unf_ext failed

[code]

I seems the ruby-dev package is missing but it seems there is no way to get this installed in the azure web shell?

[2022-11-28 19:36] microsoft-github-policy-service[bot] opened #2851 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance